In [2]:
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
import datetime

In [4]:
import plotly.io as pio
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.express as px

In [5]:
#general파일 불러온다
df1=pd.read_csv('data/general_dollar.csv',engine='python')
df1.head()

,chid,url,scrape_date,title,created_date,funds_raised,funds_target,picture,org_picture,counts_status_code,...,total_unique_donors,amount_raised_unattributed,number_of_donations_unattributed,campaign_hearts,social_share_total,num_recent_donations,recent_time_window,funds_raised_dollar,funds_target_dollar,amount_raised_unattributed_dollar
0,1,https://www.gofundme.com/f/-chris-beaty-memori...,2020-11-03 19:39:00-05:00,Chris Beaty Memorial Fund,2020-06-03,175083.0,200000.0,True,False,200,...,1687.0,0.0,0.0,1691.0,9069.0,0.0,48 hours,175083,200000.0,0.0
1,2,https://www.gofundme.com/f/1-prosent-chance,2020-11-03 17:35:00-05:00,1 percent chance,2020-06-21,299042.0,2000000.0,True,False,200,...,539.0,0.0,0.0,542.0,1882.0,0.0,48 hours,33792,226000.0,0.0
2,3,https://www.gofundme.com/f/100-computers-in-10...,2020-11-04 00:39:00-05:00,MELS needs #100ComputersIn100Days,2020-06-19,13845.0,30000.0,True,True,200,...,120.0,8196.0,95.0,119.0,383.0,0.0,48 hours,13845,30000.0,8196.0
3,4,https://www.gofundme.com/f/100-to-victims-of-t...,2020-11-03 21:03:00-05:00,100% to Victims of Taal Volcano in Philippines,2020-01-16,25.0,5000.0,True,True,200,...,1.0,0.0,0.0,1.0,0.0,0.0,48 hours,25,5000.0,0.0
4,5,https://www.gofundme.com/f/100k-for-center-for...,2020-11-04 00:39:00-05:00,$100k for Center for Family Life,2020-11-02,13950.0,100000.0,True,False,200,...,17.0,1100.0,5.0,17.0,0.0,16.0,48 hours,13950,100000.0,1100.0

In [6]:
#created date를 datetime으로 
df1['created_date'] =pd.to_datetime(df1['created_date'])
df1['created_date']

0      2020-06-03
1      2020-06-21
2      2020-06-19
3      2020-01-16
4      2020-11-02
          ...
3899   2020-07-24
3900   2020-10-13
3901   2020-08-28
3902   2020-08-09
3903   2020-09-07
Name: created_date, Length: 3904, dtype: datetime64[ns]

In [7]:
#scrape date에서 date만 가져오기
df1['scrape_date'] =pd.to_datetime(df1['scrape_date'])
df1['scrape_date']=df1.scrape_date.dt.date
df1['scrape_date']=pd.to_datetime(df1.scrape_date)
df1['scrape_date'].head()

0   2020-11-03
1   2020-11-03
2   2020-11-04
3   2020-11-03
4   2020-11-04
Name: scrape_date, dtype: datetime64[ns]

In [8]:
#나중에 쓰기 위해 char_age 만들기
df1['char_age'] = df1['scrape_date']-df1['created_date']
df1['char_age']

0      153 days
1      135 days
2      138 days
3      292 days
4        2 days
         ...
3899   102 days
3900    21 days
3901    67 days
3902    86 days
3903    57 days
Name: char_age, Length: 3904, dtype: timedelta64[ns]

In [9]:
# timedelta인 char_age를 숫자형(float)으로 변환 (그래프 x축에 두기 위해)
df1['char_age'] = df1['char_age'].apply(lambda x:x.days)
df1.char_age

0       153
1       135
2       138
3       292
4         2
       ...
3899    102
3900     21
3901     67
3902     86
3903     57
Name: char_age, Length: 3904, dtype: int64

In [10]:
#donation파일 불러온다
df2=pd.read_csv('data/donations_dollar.csv',engine='python')
df2.head()

,chid,donation_id,amount,is_anonymous,name,created_at,profile_url,currency,amount_dollar
0,1,0,480.0,False,Pedal For Peace Bike Ride T-shirt Sales,2020-10-14 11:43:12+00:00,NaN,dollar,480.0
1,1,1,10.0,False,Jacquelin Pabon,2020-09-15 04:51:30+00:00,NaN,dollar,10.0
2,1,2,50.0,False,Mindy Bemis,2020-09-10 00:52:25+00:00,NaN,dollar,50.0
3,1,3,100.0,False,Dana Severs,2020-09-09 05:03:36+00:00,NaN,dollar,100.0
4,1,4,100.0,False,Linsey Fraser,2020-09-08 04:05:18+00:00,NaN,dollar,100.0

In [11]:
#donation table의 created_at을 datetime형으로 바꾸고 date만 뽑는다
df2['donated_at']=pd.to_datetime(df2.created_at)
df2['donated_at']=df2.donated_at.dt.date
df2['donated_at']=pd.to_datetime(df2.donated_at)
df2['donated_at'].head()

0   2020-10-14
1   2020-09-15
2   2020-09-10
3   2020-09-09
4   2020-09-08
Name: donated_at, dtype: datetime64[ns]

In [12]:
df2

,chid,donation_id,amount,is_anonymous,name,created_at,profile_url,currency,amount_dollar,donated_at
0,1,0,480.0,False,Pedal For Peace Bike Ride T-shirt Sales,2020-10-14 11:43:12+00:00,NaN,dollar,480.0,2020-10-14
1,1,1,10.0,False,Jacquelin Pabon,2020-09-15 04:51:30+00:00,NaN,dollar,10.0,2020-09-15
2,1,2,50.0,False,Mindy Bemis,2020-09-10 00:52:25+00:00,NaN,dollar,50.0,2020-09-10
3,1,3,100.0,False,Dana Severs,2020-09-09 05:03:36+00:00,NaN,dollar,100.0,2020-09-09
4,1,4,100.0,False,Linsey Fraser,2020-09-08 04:05:18+00:00,NaN,dollar,100.0,2020-09-08
...,...,...,...,...,...,...,...,...,...,...
2191672,3905,2191672,150.0,False,Matthew and Marisa Louisos,2020-09-07 20:09:18+00:00,NaN,dollar,150.0,2020-09-07
2191673,3905,2191673,25.0,False,Katie Kline,2020-09-07 20:03:16+00:00,NaN,dollar,25.0,2020-09-07
2191674,3905,2191674,100.0,True,Anonymous,2020-09-07 19:54:17+00:00,NaN,dollar,100.0,2020-09-07
2191675,3905,2191675,250.0,False,Michael Cimasi,2020-09-07 19:48:08+00:00,NaN,dollar,250.0,2020-09-07
2191676,3905,2191676,50.0,False,Alexandra Imperi,2020-09-07 19:47:37+00:00,NaN,dollar,50.0,2020-09-07

In [13]:
#donation 너무 크니까 원하는 컬럼만 넣어서 뽑기
df2=df2[['chid','amount_dollar','donation_id','donated_at']]
df2.tail()

         chid  amount_dollar  donation_id donated_at
2191672  3905          150.0      2191672 2020-09-07
2191673  3905           25.0      2191673 2020-09-07
2191674  3905          100.0      2191674 2020-09-07
2191675  3905          250.0      2191675 2020-09-07
2191676  3905           50.0      2191676 2020-09-07

In [14]:
#join 준비하기 df1의 chid도 df2처럼 float type으로 바꾸기
df1['chid'] = df1['chid'].astype(float)
df1.dtypes

chid                                        float64
url                                          object
scrape_date                          datetime64[ns]
title                                        object
created_date                         datetime64[ns]
funds_raised                                float64
funds_target                                float64
picture                                        bool
org_picture                                    bool
counts_status_code                            int64
velocity_status_code                          int64
updates_status_code                           int64
comments_status_code                          int64
donations_status_code                         int64
currency                                     object
tags                                         object
story                                        object
receiver_name                                object
receiver_tax                                 object
total_photos                                float64
total_co_photos                             float64
total_community_photos                      float64
total_comments                              float64
total_updates                               float64
total_donations                             float64
total_unique_donors                         float64
amount_raised_unattributed                  float64
number_of_donations_unattributed            float64
campaign_hearts                             float64
social_share_total                          float64
num_recent_donations                        float64
recent_time_window                           object
funds_raised_dollar                           int64
funds_target_dollar                         float64
amount_raised_unattributed_dollar           float64
char_age                                      int64
dtype: object

In [15]:
#general도 원하는 컬럼만 넣어서 뽑기
df1_2=df1[['chid','char_age','created_date','funds_target_dollar']]
df1_2.tail()

        chid  char_age created_date  funds_target_dollar
3899  3901.0       102   2020-07-24              15000.0
3900  3902.0        21   2020-10-13              20000.0
3901  3903.0        67   2020-08-28              50000.0
3902  3904.0        86   2020-08-09              80000.0
3903  3905.0        57   2020-09-07             100000.0

In [16]:
df1_2.dtypes

chid                          float64
char_age                        int64
created_date           datetime64[ns]
funds_target_dollar           float64
dtype: object

In [17]:
df2.dtypes

chid                      int64
amount_dollar           float64
donation_id               int64
donated_at       datetime64[ns]
dtype: object

In [18]:
#데이터 사이즈 줄이기 위해 타입 바꾸기
#df1['chid'] = df1['chid'].astype(np.uint8)
#df1['char_age'] = df1['char_age'].astype(np.uint8)
#df1.dtypes///

In [19]:
#데이터 사이즈 줄이기 위해 타입 바꾸기
#df2['chid'] = df2['chid'].astype(np.uint8)
#df2['donation_id'] = df2['donation_id'].astype(np.uint8)
#df2.dtypes

In [20]:
#df2.count

In [21]:
# general과 donation join 하기
merge_1_2= pd.merge(df1_2, df2,
                  on='chid', how='inner')
merge_1_2

,chid,char_age,created_date,funds_target_dollar,amount_dollar,donation_id,donated_at
0,1.0,153,2020-06-03,200000.0,480.0,0,2020-10-14
1,1.0,153,2020-06-03,200000.0,10.0,1,2020-09-15
2,1.0,153,2020-06-03,200000.0,50.0,2,2020-09-10
3,1.0,153,2020-06-03,200000.0,100.0,3,2020-09-09
4,1.0,153,2020-06-03,200000.0,100.0,4,2020-09-08
...,...,...,...,...,...,...,...
2191672,3905.0,57,2020-09-07,100000.0,150.0,2191672,2020-09-07
2191673,3905.0,57,2020-09-07,100000.0,25.0,2191673,2020-09-07
2191674,3905.0,57,2020-09-07,100000.0,100.0,2191674,2020-09-07
2191675,3905.0,57,2020-09-07,100000.0,250.0,2191675,2020-09-07
2191676,3905.0,57,2020-09-07,100000.0,50.0,2191676,2020-09-07

In [22]:
#기부일자 - 모금프로그램생성일 = date_diff 컬럼 만들기
merge_1_2['date_diff'] = merge_1_2['donated_at']-merge_1_2['created_date']
merge_1_2

,chid,char_age,created_date,funds_target_dollar,amount_dollar,donation_id,donated_at,date_diff
0,1.0,153,2020-06-03,200000.0,480.0,0,2020-10-14,133 days
1,1.0,153,2020-06-03,200000.0,10.0,1,2020-09-15,104 days
2,1.0,153,2020-06-03,200000.0,50.0,2,2020-09-10,99 days
3,1.0,153,2020-06-03,200000.0,100.0,3,2020-09-09,98 days
4,1.0,153,2020-06-03,200000.0,100.0,4,2020-09-08,97 days
...,...,...,...,...,...,...,...,...
2191672,3905.0,57,2020-09-07,100000.0,150.0,2191672,2020-09-07,0 days
2191673,3905.0,57,2020-09-07,100000.0,25.0,2191673,2020-09-07,0 days
2191674,3905.0,57,2020-09-07,100000.0,100.0,2191674,2020-09-07,0 days
2191675,3905.0,57,2020-09-07,100000.0,250.0,2191675,2020-09-07,0 days
2191676,3905.0,57,2020-09-07,100000.0,50.0,2191676,2020-09-07,0 days

In [23]:
# timedelta인 date_diff를 숫자형(float)으로 변환 (그래프 x축에 두기 위해)
merge_1_2['date_diff'] = merge_1_2['date_diff'].apply(lambda x:x.days)
merge_1_2.date_diff.dtypes

dtype('int64')

In [24]:
#chid, date_diff로 groupby 하기
grouped = merge_1_2.groupby(['chid','date_diff'])['donation_id','amount_dollar','funds_target_dollar','char_age']
grouped

<ipython-input-24-e8caf008ea40>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped = merge_1_2.groupby(['chid','date_diff'])['donation_id','amount_dollar','funds_target_dollar','char_age']

In [25]:
#groupby 결과를 agg 함수로 보기
grouped=grouped.agg({'donation_id':'count','amount_dollar':'sum','funds_target_dollar':'mean','char_age':'mean'}).reset_index()
grouped

,chid,date_diff,donation_id,amount_dollar,funds_target_dollar,char_age
0,1.0,0,52,3750.0,200000.0,153
1,1.0,1,382,30181.0,200000.0,153
2,1.0,2,206,16736.0,200000.0,153
3,1.0,3,67,5545.0,200000.0,153
4,1.0,4,50,6419.0,200000.0,153
...,...,...,...,...,...,...
145432,3905.0,52,7,995.0,100000.0,57
145433,3905.0,53,3,220.0,100000.0,57
145434,3905.0,54,1,100.0,100000.0,57
145435,3905.0,55,1,100.0,100000.0,57
145436,3905.0,56,3,2100.0,100000.0,57

In [26]:
#돈의 누적합 구하기
grouped['cumsum']=grouped.groupby(['chid'])['amount_dollar'].apply(lambda x:x.cumsum())
grouped

,chid,date_diff,donation_id,amount_dollar,funds_target_dollar,char_age,cumsum
0,1.0,0,52,3750.0,200000.0,153,3750.0
1,1.0,1,382,30181.0,200000.0,153,33931.0
2,1.0,2,206,16736.0,200000.0,153,50667.0
3,1.0,3,67,5545.0,200000.0,153,56212.0
4,1.0,4,50,6419.0,200000.0,153,62631.0
...,...,...,...,...,...,...,...
145432,3905.0,52,7,995.0,100000.0,57,94058.0
145433,3905.0,53,3,220.0,100000.0,57,94278.0
145434,3905.0,54,1,100.0,100000.0,57,94378.0
145435,3905.0,55,1,100.0,100000.0,57,94478.0
145436,3905.0,56,3,2100.0,100000.0,57,96578.0

In [27]:
#펀딩 성공여부 판단하는 success 컬럼 추가
grouped=grouped.assign(success = grouped['cumsum'] >= grouped['funds_target_dollar'])
grouped

,chid,date_diff,donation_id,amount_dollar,funds_target_dollar,char_age,cumsum,success
0,1.0,0,52,3750.0,200000.0,153,3750.0,False
1,1.0,1,382,30181.0,200000.0,153,33931.0,False
2,1.0,2,206,16736.0,200000.0,153,50667.0,False
3,1.0,3,67,5545.0,200000.0,153,56212.0,False
4,1.0,4,50,6419.0,200000.0,153,62631.0,False
...,...,...,...,...,...,...,...,...
145432,3905.0,52,7,995.0,100000.0,57,94058.0,False
145433,3905.0,53,3,220.0,100000.0,57,94278.0,False
145434,3905.0,54,1,100.0,100000.0,57,94378.0,False
145435,3905.0,55,1,100.0,100000.0,57,94478.0,False
145436,3905.0,56,3,2100.0,100000.0,57,96578.0,False

In [28]:
#success가 True일때, date_diff의 최소값과 프로그램 연식(?) 구하기
success_ch=grouped.query('success == True').groupby('chid').agg({'date_diff':'min','char_age':'mean'}).reset_index()
success_ch

        chid  date_diff  char_age
0        7.0         13       361
1        9.0          3       365
2       16.0          7       339
3       17.0          8       336
4       18.0          2       323
...      ...        ...       ...
1400  3890.0         17       121
1401  3892.0          1       301
1402  3901.0          2       102
1403  3902.0          2        21
1404  3903.0          6        67

[1405 rows x 3 columns]

In [29]:
date_diff=success_ch['date_diff']

In [30]:
date_diff.describe()

count    1405.000000
mean       18.967972
std        37.424925
min         0.000000
25%         2.000000
50%         6.000000
75%        19.000000
max       305.000000
Name: date_diff, dtype: float64

In [31]:
#95% 신뢰구간 구하기
import scipy.stats as st

def mean_confidence_interval(date_diff, confidence=0.95):
    a = 1.0 * np.array(date_diff)
    n = len(a)
    m, se = np.mean(a), st.sem(a)
    h = se * st.t.ppf((1 + confidence) / 2., n-1)
    return m, m-h, m+h

mean_confidence_interval(date_diff)

(18.96797153024911, 17.0093729913738, 20.926570069124416)

In [32]:
#17일 기준에서 성공프로그램 수, 배제되는 프로그램 수
# date-diff 컬럼을 선택
# 컬럼의 값과 조건을 비교
# 그 결과를 새로운 변수에 할당
successwithin_17 = success_ch['date_diff'] <= 17 


# char_age 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
olderthan_17 = success_ch['char_age'] >= 17

# 두가지 조건를 동시에 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다. (AND)
date_diff17 = success_ch[successwithin_17 & olderthan_17]

# 결과를 출력합니다.
date_diff17

        chid  date_diff  char_age
0        7.0         13       361
1        9.0          3       365
2       16.0          7       339
3       17.0          8       336
4       18.0          2       323
...      ...        ...       ...
1400  3890.0         17       121
1401  3892.0          1       301
1402  3901.0          2       102
1403  3902.0          2        21
1404  3903.0          6        67

[1004 rows x 3 columns]

In [33]:
#19일 기준에서 성공프로그램 수, 배제되는 프로그램 수
# date-diff 컬럼을 선택
# 컬럼의 값과 조건을 비교
# 그 결과를 새로운 변수에 할당
successwithin_19 = success_ch['date_diff'] <= 19 


# char_age 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
olderthan_19 = success_ch['char_age'] >= 19

# 두가지 조건를 동시에 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다. (AND)
date_diff19 = success_ch[successwithin_19 & olderthan_19]

# 결과를 출력합니다.
date_diff19

        chid  date_diff  char_age
0        7.0         13       361
1        9.0          3       365
2       16.0          7       339
3       17.0          8       336
4       18.0          2       323
...      ...        ...       ...
1400  3890.0         17       121
1401  3892.0          1       301
1402  3901.0          2       102
1403  3902.0          2        21
1404  3903.0          6        67

[1019 rows x 3 columns]

In [34]:
#21일 기준에서 성공프로그램 수, 배제되는 프로그램 수
# date-diff 컬럼을 선택
# 컬럼의 값과 조건을 비교
# 그 결과를 새로운 변수에 할당
successwithin_21 = success_ch['date_diff'] <= 21


# char_age 컬럼을 선택합니다.
# 컬럼의 값과 조건을 비교합니다.
# 그 결과를 새로운 변수에 할당합니다.
olderthan_21 = success_ch['char_age'] >= 21

# 두가지 조건를 동시에 충족하는 데이터를 필터링하여 새로운 변수에 저장합니다. (AND)
date_diff21 = success_ch[successwithin_21 & olderthan_21]

# 결과를 출력합니다.
date_diff21

        chid  date_diff  char_age
0        7.0         13       361
1        9.0          3       365
2       16.0          7       339
3       17.0          8       336
4       18.0          2       323
...      ...        ...       ...
1400  3890.0         17       121
1401  3892.0          1       301
1402  3901.0          2       102
1403  3902.0          2        21
1404  3903.0          6        67

[1044 rows x 3 columns]

In [35]:
print('17일 :', date_diff17.shape[0],'19일 :', date_diff19.shape[0], '21일 :', date_diff21.shape[0])

17일 : 1004 19일 : 1019 21일 : 1044

In [36]:
#성공한 chid만 리스트로 뽑아내기
a=date_diff21.chid.tolist()
a

[7.0,
 9.0,
 16.0,
 17.0,
 18.0,
 24.0,
 27.0,
 29.0,
 31.0,
 37.0,
 38.0,
 41.0,
 48.0,
 50.0,
 54.0,
 58.0,
 63.0,
 65.0,
 75.0,
 77.0,
 78.0,
 79.0,
 82.0,
 83.0,
 84.0,
 86.0,
 89.0,
 91.0,
 94.0,
 98.0,
 100.0,
 103.0,
 105.0,
 115.0,
 117.0,
 120.0,
 125.0,
 128.0,
 132.0,
 151.0,
 153.0,
 158.0,
 159.0,
 161.0,
 164.0,
 165.0,
 167.0,
 168.0,
 170.0,
 172.0,
 173.0,
 176.0,
 182.0,
 183.0,
 188.0,
 191.0,
 196.0,
 205.0,
 226.0,
 230.0,
 232.0,
 259.0,
 263.0,
 269.0,
 270.0,
 271.0,
 272.0,
 293.0,
 298.0,
 299.0,
 304.0,
 312.0,
 313.0,
 317.0,
 318.0,
 319.0,
 321.0,
 331.0,
 352.0,
 355.0,
 368.0,
 385.0,
 396.0,
 398.0,
 403.0,
 407.0,
 408.0,
 413.0,
 420.0,
 421.0,
 422.0,
 423.0,
 432.0,
 436.0,
 439.0,
 440.0,
 443.0,
 447.0,
 451.0,
 460.0,
 462.0,
 465.0,
 469.0,
 472.0,
 481.0,
 495.0,
 499.0,
 500.0,
 503.0,
 505.0,
 506.0,
 507.0,
 510.0,
 511.0,
 513.0,
 515.0,
 519.0,
 521.0,
 523.0,
 524.0,
 526.0,
 532.0,
 538.0,
 540.0,
 542.0,
 545.0,
 547.0,
 548.0,
 556.0,
 558.0,
 560.0,
 562.0,
 563.0,
 577.0,
 578.0,
 586.0,
 588.0,
 592.0,
 593.0,
 599.0,
 603.0,
 605.0,
 609.0,
 610.0,
 612.0,
 621.0,
 628.0,
 636.0,
 637.0,
 639.0,
 645.0,
 648.0,
 651.0,
 657.0,
 664.0,
 668.0,
 671.0,
 673.0,
 676.0,
 677.0,
 681.0,
 682.0,
 686.0,
 689.0,
 690.0,
 693.0,
 695.0,
 698.0,
 699.0,
 702.0,
 703.0,
 705.0,
 710.0,
 711.0,
 712.0,
 715.0,
 716.0,
 725.0,
 729.0,
 734.0,
 741.0,
 742.0,
 743.0,
 750.0,
 753.0,
 755.0,
 760.0,
 768.0,
 773.0,
 782.0,
 783.0,
 784.0,
 785.0,
 794.0,
 799.0,
 804.0,
 805.0,
 809.0,
 810.0,
 813.0,
 824.0,
 826.0,
 827.0,
 830.0,
 839.0,
 840.0,
 851.0,
 852.0,
 855.0,
 861.0,
 875.0,
 876.0,
 879.0,
 881.0,
 886.0,
 896.0,
 905.0,
 908.0,
 910.0,
 916.0,
 922.0,
 929.0,
 930.0,
 934.0,
 942.0,
 957.0,
 961.0,
 965.0,
 972.0,
 974.0,
 976.0,
 977.0,
 980.0,
 986.0,
 988.0,
 997.0,
 999.0,
 1003.0,
 1004.0,
 1011.0,
 1012.0,
 1013.0,
 1015.0,
 1017.0,
 1020.0,
 1028.0,
 1030.0,
 1035.0,
 1037.0,
 1040.0,
 1041.0,
 1043.0,
 1049.0,
 1050.0,
 1054.0,
 1056.0,
 1063.0,
 1065.0,
 1066.0,
 1076.0,
 1078.0,
 1086.0,
 1087.0,
 1088.0,
 1089.0,
 1091.0,
 1095.0,
 1099.0,
 1102.0,
 1103.0,
 1105.0,
 1107.0,
 1109.0,
 1122.0,
 1125.0,
 1129.0,
 1130.0,
 1132.0,
 1134.0,
 1135.0,
 1139.0,
 1141.0,
 1143.0,
 1144.0,
 1171.0,
 1174.0,
 1176.0,
 1181.0,
 1183.0,
 1185.0,
 1186.0,
 1188.0,
 1190.0,
 1197.0,
 1200.0,
 1202.0,
 1208.0,
 1219.0,
 1224.0,
 1225.0,
 1227.0,
 1229.0,
 1237.0,
 1238.0,
 1249.0,
 1251.0,
 1252.0,
 1255.0,
 1256.0,
 1261.0,
 1263.0,
 1265.0,
 1268.0,
 1275.0,
 1287.0,
 1289.0,
 1290.0,
 1291.0,
 1294.0,
 1297.0,
 1302.0,
 1312.0,
 1313.0,
 1314.0,
 1315.0,
 1318.0,
 1324.0,
 1328.0,
 1329.0,
 1331.0,
 1332.0,
 1333.0,
 1334.0,
 1335.0,
 1344.0,
 1345.0,
 1346.0,
 1350.0,
 1353.0,
 1356.0,
 1363.0,
 1369.0,
 1372.0,
 1379.0,
 1381.0,
 1383.0,
 1384.0,
 1389.0,
 1392.0,
 1393.0,
 1394.0,
 1399.0,
 1401.0,
 1402.0,
 1409.0,
 1411.0,
 1416.0,
 1420.0,
 1429.0,
 1431.0,
 1433.0,
 1434.0,
 1435.0,
 1441.0,
 1455.0,
 1461.0,
 1465.0,
 1466.0,
 1468.0,
 1476.0,
 1477.0,
 1482.0,
 1483.0,
 1491.0,
 1492.0,
 1497.0,
 1498.0,
 1502.0,
 1503.0,
 1505.0,
 1512.0,
 1518.0,
 1524.0,
 1527.0,
 1533.0,
 1537.0,
 1540.0,
 1542.0,
 1546.0,
 1548.0,
 1550.0,
 1553.0,
 1554.0,
 1559.0,
 1566.0,
 1573.0,
 1576.0,
 1581.0,
 1584.0,
 1588.0,
 1590.0,
 1596.0,
 1597.0,
 1602.0,
 1605.0,
 1608.0,
 1609.0,
 1613.0,
 1616.0,
 1617.0,
 1620.0,
 1621.0,
 1635.0,
 1636.0,
 1645.0,
 1648.0,
 1651.0,
 1655.0,
 1662.0,
 1663.0,
 1670.0,
 1672.0,
 1674.0,
 1681.0,
 1682.0,
 1686.0,
 1694.0,
 1696.0,
 1702.0,
 1705.0,
 1706.0,
 1708.0,
 1717.0,
 1737.0,
 1745.0,
 1746.0,
 1748.0,
 1752.0,
 1753.0,
 1755.0,
 1766.0,
 1768.0,
 1769.0,
 1770.0,
 1772.0,
 1778.0,
 1781.0,
 1793.0,
 1799.0,
 1800.0,
 1802.0,
 1804.0,
 1805.0,
 1806.0,
 1807.0,
 1808.0,
 1814.0,
 1819.0,
 1820.0,
 1823.0,
 1824.0,
 1827.0,
 1828.0,
 1829.0,
 1831.0,
 1832.0,
 1837.0,
 1843.0,
 1846.0,
 1847.0,
 1858.0,
 1861.0,
 1865.0,
 1873.0,
 1874.0,
 1875.0,
 1879.0,
 1888.0,
 1892.0,
 1895.0,
 1896.0,
 1899.0,
 1901.0,
 1908.0,
 1910.0,
 1912.0,
 1916.0,
 1917.0,
 1919.0,
 1920.0,
 1921.0,
 1922.0,
 1924.0,
 1926.0,
 1929.0,
 1930.0,
 1931.0,
 1932.0,
 1937.0,
 1938.0,
 1941.0,
 1942.0,
 1943.0,
 1944.0,
 1948.0,
 1949.0,
 1950.0,
 1951.0,
 1952.0,
 1954.0,
 1955.0,
 1958.0,
 1970.0,
 1976.0,
 1977.0,
 1978.0,
 1980.0,
 1983.0,
 1984.0,
 1986.0,
 1987.0,
 1992.0,
 1994.0,
 1995.0,
 2005.0,
 2006.0,
 2008.0,
 2010.0,
 2011.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2020.0,
 2029.0,
 2030.0,
 2031.0,
 2033.0,
 2034.0,
 2040.0,
 2042.0,
 2044.0,
 2050.0,
 2055.0,
 2057.0,
 2060.0,
 2062.0,
 2070.0,
 2075.0,
 2078.0,
 2080.0,
 2081.0,
 2084.0,
 2085.0,
 2086.0,
 2087.0,
 2090.0,
 2091.0,
 2092.0,
 2093.0,
 2100.0,
 2101.0,
 2103.0,
 2104.0,
 2105.0,
 2113.0,
 2115.0,
 2121.0,
 2123.0,
 2124.0,
 2128.0,
 2130.0,
 2140.0,
 2151.0,
 2156.0,
 2158.0,
 2159.0,
 2161.0,
 2165.0,
 2168.0,
 2171.0,
 2172.0,
 2174.0,
 2176.0,
 2177.0,
 2180.0,
 2182.0,
 2186.0,
 2187.0,
 2188.0,
 2191.0,
 2192.0,
 2197.0,
 2199.0,
 2201.0,
 2206.0,
 2224.0,
 2225.0,
 2227.0,
 2230.0,
 2232.0,
 2235.0,
 2236.0,
 2241.0,
 2244.0,
 2253.0,
 2255.0,
 2257.0,
 2259.0,
 2260.0,
 2263.0,
 2266.0,
 2269.0,
 2273.0,
 2277.0,
 2281.0,
 2286.0,
 2287.0,
 2294.0,
 2295.0,
 2296.0,
 2304.0,
 2305.0,
 2313.0,
 2315.0,
 2318.0,
 2319.0,
 2322.0,
 2324.0,
 2325.0,
 2328.0,
 2330.0,
 2337.0,
 2341.0,
 2344.0,
 2345.0,
 2349.0,
 2351.0,
 2353.0,
 2357.0,
 2362.0,
 2363.0,
 2367.0,
 2370.0,
 2374.0,
 2379.0,
 2382.0,
 2385.0,
 2386.0,
 2389.0,
 2390.0,
 2396.0,
 2402.0,
 2404.0,
 2406.0,
 2412.0,
 2413.0,
 2415.0,
 2416.0,
 2417.0,
 2419.0,
 2422.0,
 2427.0,
 2428.0,
 2430.0,
 2432.0,
 2439.0,
 2441.0,
 2446.0,
 2447.0,
 2450.0,
 2453.0,
 2454.0,
 2463.0,
 2465.0,
 2477.0,
 2485.0,
 2490.0,
 2491.0,
 2492.0,
 2496.0,
 2510.0,
 2511.0,
 2514.0,
 2515.0,
 2516.0,
 2522.0,
 2523.0,
 2524.0,
 2526.0,
 2529.0,
 2530.0,
 2531.0,
 2532.0,
 2533.0,
 2534.0,
 2536.0,
 2537.0,
 2538.0,
 2543.0,
 2544.0,
 2545.0,
 2546.0,
 2550.0,
 2558.0,
 2559.0,
 2569.0,
 2575.0,
 2577.0,
 2581.0,
 2585.0,
 2590.0,
 2593.0,
 2598.0,
 2601.0,
 2602.0,
 2603.0,
 2610.0,
 2612.0,
 2616.0,
 2617.0,
 2619.0,
 2621.0,
 2622.0,
 2623.0,
 2627.0,
 2629.0,
 2630.0,
 2642.0,
 2645.0,
 2652.0,
 2659.0,
 2662.0,
 2664.0,
 2672.0,
 2676.0,
 2679.0,
 2683.0,
 2701.0,
 2702.0,
 2707.0,
 2715.0,
 2720.0,
 2730.0,
 2733.0,
 2741.0,
 2743.0,
 2746.0,
 2747.0,
 2756.0,
 2760.0,
 2764.0,
 2766.0,
 2771.0,
 2773.0,
 2775.0,
 2776.0,
 2779.0,
 2782.0,
 2789.0,
 2792.0,
 2795.0,
 2798.0,
 2802.0,
 2803.0,
 2805.0,
 2806.0,
 2809.0,
 2810.0,
 2818.0,
 2820.0,
 2828.0,
 2830.0,
 2839.0,
 2848.0,
 2850.0,
 2854.0,
 2857.0,
 2862.0,
 2866.0,
 2873.0,
 2882.0,
 2889.0,
 2896.0,
 2900.0,
 2902.0,
 2903.0,
 2906.0,
 2910.0,
 2911.0,
 2917.0,
 2923.0,
 2926.0,
 2929.0,
 2932.0,
 2933.0,
 2935.0,
 2938.0,
 2947.0,
 2948.0,
 2950.0,
 2955.0,
 2957.0,
 2963.0,
 2964.0,
 2965.0,
 2966.0,
 2968.0,
 2972.0,
 2975.0,
 2976.0,
 2982.0,
 2983.0,
 2987.0,
 2988.0,
 2991.0,
 2993.0,
 2996.0,
 3002.0,
 3005.0,
 3006.0,
 3011.0,
 3016.0,
 3022.0,
 3024.0,
 3029.0,
 3031.0,
 3034.0,
 3036.0,
 3039.0,
 3040.0,
 3044.0,
 3049.0,
 3052.0,
 3053.0,
 3057.0,
 3060.0,
 3061.0,
 3063.0,
 3073.0,
 3074.0,
 3076.0,
 3082.0,
 3083.0,
 3087.0,
 3089.0,
 3091.0,
 3097.0,
 3101.0,
 3108.0,
 3109.0,
 3110.0,
 3113.0,
 3121.0,
 3135.0,
 3152.0,
 3157.0,
 3163.0,
 3165.0,
 3167.0,
 3168.0,
 3170.0,
 3173.0,
 3180.0,
 3186.0,
 3190.0,
 3192.0,
 3194.0,
 3200.0,
 3209.0,
 3211.0,
 3212.0,
 3213.0,
 3214.0,
 3220.0,
 3223.0,
 3235.0,
 3238.0,
 3243.0,
 3253.0,
 3258.0,
 3263.0,
 3272.0,
 3275.0,
 3281.0,
 3283.0,
 3284.0,
 3291.0,
 3298.0,
 3300.0,
 3302.0,
 3304.0,
 3307.0,
 3309.0,
 3313.0,
 3323.0,
 3324.0,
 3333.0,
 3339.0,
 3341.0,
 3343.0,
 3345.0,
 3346.0,
 3347.0,
 3349.0,
 3354.0,
 3356.0,
 3358.0,
 3362.0,
 3364.0,
 3367.0,
 3368.0,
 3378.0,
 3379.0,
 3380.0,
 3384.0,
 3389.0,
 3390.0,
 3392.0,
 3393.0,
 3395.0,
 3397.0,
 3399.0,
 3400.0,
 3401.0,
 3413.0,
 3420.0,
 3421.0,
 3427.0,
 3428.0,
 3432.0,
 3435.0,
 3444.0,
 3447.0,
 3462.0,
 3464.0,
 3466.0,
 3471.0,
 3477.0,
 3478.0,
 3483.0,
 3485.0,
 3486.0,
 3489.0,
 3490.0,
 3492.0,
 3494.0,
 3496.0,
 3497.0,
 3502.0,
 3515.0,
 3527.0,
 3533.0,
 3537.0,
 3540.0,
 3543.0,
 3552.0,
 3554.0,
 3555.0,
 3557.0,
 3559.0,
 3564.0,
 3566.0,
 3569.0,
 3573.0,
 3579.0,
 3580.0,
 3582.0,
 3585.0,
 3588.0,
 3591.0,
 3602.0,
 3610.0,
 3611.0,
 3622.0,
 3623.0,
 3624.0,
 3626.0,
 3630.0,
 3634.0,
 3639.0,
 3640.0,
 3642.0,
 3643.0,
 3644.0,
 3652.0,
 3654.0,
 3660.0,
 3663.0,
 3666.0,
 3677.0,
 3678.0,
 3679.0,
 3682.0,
 3688.0,
 3691.0,
 3693.0,
 3695.0,
 3704.0,
 ...]

In [37]:
#각 날짜 기준에서 생성일자 상관 없이 성공한 수?
include_young17 = success_ch[successwithin_17]
include_young19 = success_ch[successwithin_19]
include_young21 = success_ch[successwithin_21]
# 결과를 출력합니다.
(include_young17.shape[0] - date_diff17.shape[0]),(include_young19.shape[0] - date_diff19.shape[0]),(include_young21.shape[0] - date_diff21.shape[0])

(35, 43, 52)

In [38]:
df1.columns

Index(['chid', 'url', 'scrape_date', 'title', 'created_date', 'funds_raised',
       'funds_target', 'picture', 'org_picture', 'counts_status_code',
       'velocity_status_code', 'updates_status_code', 'comments_status_code',
       'donations_status_code', 'currency', 'tags', 'story', 'receiver_name',
       'receiver_tax', 'total_photos', 'total_co_photos',
       'total_community_photos', 'total_comments', 'total_updates',
       'total_donations', 'total_unique_donors', 'amount_raised_unattributed',
       'number_of_donations_unattributed', 'campaign_hearts',
       'social_share_total', 'num_recent_donations', 'recent_time_window',
       'funds_raised_dollar', 'funds_target_dollar',
       'amount_raised_unattributed_dollar', 'char_age'],
      dtype='object')

In [39]:
#df1에서 필요한 컬럼만 뽑기
df1_3 = df1[['chid','created_date','tags', 'story','total_photos', 'total_co_photos',
       'total_community_photos', 'total_comments', 'total_updates','campaign_hearts','social_share_total','funds_raised_dollar', 'funds_target_dollar','char_age']]
df1_3

,chid,created_date,tags,story,total_photos,total_co_photos,total_community_photos,total_comments,total_updates,campaign_hearts,social_share_total,funds_raised_dollar,funds_target_dollar,char_age
0,1.0,2020-06-03,Funerals & Memorials,This is the official Chris Beaty GoFundMe crea...,3.0,1.0,2.0,0.0,1.0,1691.0,9069.0,175083,200000.0,153
1,2.0,2020-06-21,"Medical, Illness & Healing",Shortly about Saha: | It is with a heavy heart...,1.0,1.0,0.0,0.0,0.0,542.0,1882.0,33792,226000.0,135
2,3.0,2020-06-19,Education & Learning,Cost Breakdown | 100 Computers x approximately...,2.0,2.0,0.0,0.0,4.0,119.0,383.0,13845,30000.0,138
3,4.0,2020-01-16,Accidents & Emergencies,I was caught within 7 miles of the Taal Volcan...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,25,5000.0,292
4,5.0,2020-11-02,Community & Neighbors,I have been on the board of the Center for Fam...,1.0,1.0,0.0,0.0,0.0,17.0,0.0,13950,100000.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,3901.0,2020-07-24,"Medical, Illness & Healing","In late June, Matt Hansen was diagnosed with a...",1.0,1.0,0.0,0.0,0.0,636.0,1574.0,68691,15000.0,102
3900,3902.0,2020-10-13,Funerals & Memorials,Scott Zurn was diagnosed with an aggressive fo...,1.0,1.0,0.0,0.0,0.0,348.0,828.0,41330,20000.0,21
3901,3903.0,2020-08-28,"Medical, Illness & Healing","First, and foremost, let��셲 talk about Sean. S...",2.0,2.0,0.0,0.0,3.0,559.0,929.0,59205,50000.0,67
3902,3904.0,2020-08-09,Funerals & Memorials,"On Monday August 3, 2020, Koorosh Yaghoubian (...",1.0,1.0,0.0,0.0,0.0,298.0,699.0,58767,80000.0,86
3903,3905.0,2020-09-07,"Medical, Illness & Healing",Nothing is more devastating for parents than w...,1.0,1.0,0.0,0.0,1.0,1052.0,6248.0,96578,100000.0,57

In [40]:
#chid에 따라 성공이면 true, 실패면 false이라고 쓰는 컬럼 만들기
df1_3['success']=df1_3['chid'].isin(a)

<ipython-input-40-c51aff7fb624>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3['success']=df1_3['chid'].isin(a)

In [41]:
df1_3

,chid,created_date,tags,story,total_photos,total_co_photos,total_community_photos,total_comments,total_updates,campaign_hearts,social_share_total,funds_raised_dollar,funds_target_dollar,char_age,success
0,1.0,2020-06-03,Funerals & Memorials,This is the official Chris Beaty GoFundMe crea...,3.0,1.0,2.0,0.0,1.0,1691.0,9069.0,175083,200000.0,153,False
1,2.0,2020-06-21,"Medical, Illness & Healing",Shortly about Saha: | It is with a heavy heart...,1.0,1.0,0.0,0.0,0.0,542.0,1882.0,33792,226000.0,135,False
2,3.0,2020-06-19,Education & Learning,Cost Breakdown | 100 Computers x approximately...,2.0,2.0,0.0,0.0,4.0,119.0,383.0,13845,30000.0,138,False
3,4.0,2020-01-16,Accidents & Emergencies,I was caught within 7 miles of the Taal Volcan...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,25,5000.0,292,False
4,5.0,2020-11-02,Community & Neighbors,I have been on the board of the Center for Fam...,1.0,1.0,0.0,0.0,0.0,17.0,0.0,13950,100000.0,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,3901.0,2020-07-24,"Medical, Illness & Healing","In late June, Matt Hansen was diagnosed with a...",1.0,1.0,0.0,0.0,0.0,636.0,1574.0,68691,15000.0,102,True
3900,3902.0,2020-10-13,Funerals & Memorials,Scott Zurn was diagnosed with an aggressive fo...,1.0,1.0,0.0,0.0,0.0,348.0,828.0,41330,20000.0,21,True
3901,3903.0,2020-08-28,"Medical, Illness & Healing","First, and foremost, let��셲 talk about Sean. S...",2.0,2.0,0.0,0.0,3.0,559.0,929.0,59205,50000.0,67,True
3902,3904.0,2020-08-09,Funerals & Memorials,"On Monday August 3, 2020, Koorosh Yaghoubian (...",1.0,1.0,0.0,0.0,0.0,298.0,699.0,58767,80000.0,86,False
3903,3905.0,2020-09-07,"Medical, Illness & Healing",Nothing is more devastating for parents than w...,1.0,1.0,0.0,0.0,1.0,1052.0,6248.0,96578,100000.0,57,False

In [42]:
df1_3['story']= df1_3['story'].astype(str)
df1_3['story']

<ipython-input-42-a6bededa0556>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3['story']= df1_3['story'].astype(str)

0       This is the official Chris Beaty GoFundMe crea...
1       Shortly about Saha: | It is with a heavy heart...
2       Cost Breakdown | 100 Computers x approximately...
3       I was caught within 7 miles of the Taal Volcan...
4       I have been on the board of the Center for Fam...
                              ...
3899    In late June, Matt Hansen was diagnosed with a...
3900    Scott Zurn was diagnosed with an aggressive fo...
3901    First, and foremost, let��셲 talk about Sean. S...
3902    On Monday August 3, 2020, Koorosh Yaghoubian (...
3903    Nothing is more devastating for parents than w...
Name: story, Length: 3904, dtype: object

In [43]:
df1_3['storylength'] = df1_3.story.str.len()
df1_3['storylength']

<ipython-input-43-9e64404270bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3['storylength'] = df1_3.story.str.len()

0       1506
1       5152
2       6270
3        402
4       1666
        ...
3899    1399
3900    1423
3901    3135
3902     617
3903    2938
Name: storylength, Length: 3904, dtype: int64

normalizebool, {‘all’, ‘index’, ‘columns’}, or {0,1}, default False
Normalize by dividing all values by the sum of values.

If passed ‘all’ or True, will normalize over all values.

If passed ‘index’ will normalize over each row.

If passed ‘columns’ will normalize over each column.

If margins is True, will also normalize margin values.'''

In [44]:
#tags 별로 success 된 비율이 다를까? - chi square p value 구하기 위해 crosstab 쓰기
#tags 와 success의 crosstabulation - row percentage
df=pd.crosstab(df1_3.tags,df1_3.success, normalize='index').round(4)*100
df

success                       False   True
tags
Accidents & Emergencies       76.00   24.00
Animals & Pets                78.85   21.15
Babies, Kids & Family         65.38   34.62
Business & Entrepreneurs      91.67    8.33
Celebrations & Events         60.00   40.00
Community & Neighbors         80.83   19.17
Competitions & Pageants      100.00    0.00
Creative Arts, Music & Film   94.44    5.56
Dreams, Hopes & Wishes        71.43   28.57
Education & Learning          80.41   19.59
Environment                   88.89   11.11
Funerals & Memorials          59.61   40.39
Medical, Illness & Healing    78.87   21.13
Missions, Faith & Church      93.75    6.25
Non-Profits & Charities      100.00    0.00
Other                         70.83   29.17
Rent, Food & Monthly Bills   100.00    0.00
Sports, Teams & Clubs         75.00   25.00
Travel & Adventure             0.00  100.00
Volunteer & Service           82.76   17.24

In [45]:
#p값과 chi2 테스트 값 구하기 위해 모듈 들여오기
from scipy.stats import chi2_contingency
from scipy.stats.distributions import chi2

In [46]:
df=pd.crosstab(df1_3.tags,df1_3.success).round(4)*100
chi2_con, p, dof, expected = chi2_contingency(df)

In [47]:
(chi2_con,('%.4f' % p))
#p값이 0.05 이하로, tags는 success와 관계 있음

(15963.64720415055, '0.0000')

In [48]:
#p value 구하는 다른방법
p_value=1 - chi2.cdf(15963.64720415055, 19)
print("%.4f" % p_value)

0.0000

In [49]:
#tags 와 success의 crosstabulation - col percentage
df=pd.crosstab(df1_3.tags,df1_3.success,normalize='columns').round(4)*100
df

success                      False  True
tags
Accidents & Emergencies      29.34  25.38
Animals & Pets                1.43   1.05
Babies, Kids & Family         0.59   0.86
Business & Entrepreneurs      0.38   0.10
Celebrations & Events         0.10   0.19
Community & Neighbors         5.45   3.54
Competitions & Pageants       0.07   0.00
Creative Arts, Music & Film   1.19   0.19
Dreams, Hopes & Wishes        0.17   0.19
Education & Learning          2.73   1.82
Environment                   0.28   0.10
Funerals & Memorials         21.47  39.85
Medical, Illness & Healing   30.80  22.61
Missions, Faith & Church      1.57   0.29
Non-Profits & Charities       0.07   0.00
Other                         1.78   2.01
Rent, Food & Monthly Bills    0.03   0.00
Sports, Teams & Clubs         0.84   0.77
Travel & Adventure            0.00   0.10
Volunteer & Service           1.68   0.96

In [50]:
#story 길이는 성공여부에 영향 미칠까? - logistic regression
#story 컬럼 확인 후 유무 표시하는 컬럼 생성하기 
df1_3['story'].isnull().sum()
#null값 없이 다 있음

0

In [51]:
#로지스틱 회귀분석을 위한 모듈 들여오기
from statsmodels.formula.api import logit

In [52]:
#success 컬럼 더미처리하기
df1_3['dum_success']=pd.get_dummies(df1_3['success'])[True]
df1_3['dum_success']

<ipython-input-52-e6840a65a958>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3['dum_success']=pd.get_dummies(df1_3['success'])[True]

0       0
1       0
2       0
3       0
4       0
       ..
3899    1
3900    1
3901    1
3902    0
3903    0
Name: dum_success, Length: 3904, dtype: uint8

In [53]:
#storylength와 dum_success logistic 결과 구하기
res_success=logit('dum_success ~ storylength',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.570415
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            dum_success   No. Observations:                 3904
Model:                          Logit   Df Residuals:                     3902
Method:                           MLE   Df Model:                            1
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                 0.01767
Time:                        00:00:08   Log-Likelihood:                -2226.9
converged:                       True   LL-Null:                       -2267.0
Covariance Type:            nonrobust   LLR p-value:                 3.554e-19
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      -0.6081      0.059    -10.308      0.000      -0.724      -0.492
storylength    -0.0002   2.84e-05     -7.928      0.000      -0.000      -0.000
===============================================================================
"""

In [54]:
#storylength를 success로 groupby하기
df1_3.groupby('success')['storylength'].agg(['min','mean','max']).reset_index()

   success  min         mean    max
0    False    3  2093.358741  48931
1     True   53  1551.043103  20461

In [55]:
#목표금액이 더 높을수록 성공할까? - logistic regression
res_success=logit('dum_success ~ funds_target_dollar',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.408697
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            dum_success   No. Observations:                 3853
Model:                          Logit   Df Residuals:                     3851
Method:                           MLE   Df Model:                            1
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                  0.3004
Time:                        00:00:08   Log-Likelihood:                -1574.7
converged:                       True   LL-Null:                       -2251.0
Covariance Type:            nonrobust   LLR p-value:                4.417e-296
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept               1.3178      0.084     15.707      0.000       1.153       1.482
funds_target_dollar -4.059e-05   1.63e-06    -24.909      0.000   -4.38e-05   -3.74e-05
=======================================================================================
"""

In [56]:
#funds_target_dollar를 success로 groupby하기
df1_3.groupby('success')['funds_target_dollar'].agg(['min','mean','max']).reset_index()

   success  min           mean         max
0    False  1.0  173357.955702  10000000.0
1     True  1.0   33787.477896    425000.0

In [57]:
df1_3

,chid,created_date,tags,story,total_photos,total_co_photos,total_community_photos,total_comments,total_updates,campaign_hearts,social_share_total,funds_raised_dollar,funds_target_dollar,char_age,success,storylength,dum_success
0,1.0,2020-06-03,Funerals & Memorials,This is the official Chris Beaty GoFundMe crea...,3.0,1.0,2.0,0.0,1.0,1691.0,9069.0,175083,200000.0,153,False,1506,0
1,2.0,2020-06-21,"Medical, Illness & Healing",Shortly about Saha: | It is with a heavy heart...,1.0,1.0,0.0,0.0,0.0,542.0,1882.0,33792,226000.0,135,False,5152,0
2,3.0,2020-06-19,Education & Learning,Cost Breakdown | 100 Computers x approximately...,2.0,2.0,0.0,0.0,4.0,119.0,383.0,13845,30000.0,138,False,6270,0
3,4.0,2020-01-16,Accidents & Emergencies,I was caught within 7 miles of the Taal Volcan...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,25,5000.0,292,False,402,0
4,5.0,2020-11-02,Community & Neighbors,I have been on the board of the Center for Fam...,1.0,1.0,0.0,0.0,0.0,17.0,0.0,13950,100000.0,2,False,1666,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,3901.0,2020-07-24,"Medical, Illness & Healing","In late June, Matt Hansen was diagnosed with a...",1.0,1.0,0.0,0.0,0.0,636.0,1574.0,68691,15000.0,102,True,1399,1
3900,3902.0,2020-10-13,Funerals & Memorials,Scott Zurn was diagnosed with an aggressive fo...,1.0,1.0,0.0,0.0,0.0,348.0,828.0,41330,20000.0,21,True,1423,1
3901,3903.0,2020-08-28,"Medical, Illness & Healing","First, and foremost, let��셲 talk about Sean. S...",2.0,2.0,0.0,0.0,3.0,559.0,929.0,59205,50000.0,67,True,3135,1
3902,3904.0,2020-08-09,Funerals & Memorials,"On Monday August 3, 2020, Koorosh Yaghoubian (...",1.0,1.0,0.0,0.0,0.0,298.0,699.0,58767,80000.0,86,False,617,0
3903,3905.0,2020-09-07,"Medical, Illness & Healing",Nothing is more devastating for parents than w...,1.0,1.0,0.0,0.0,1.0,1052.0,6248.0,96578,100000.0,57,False,2938,0

In [58]:
#사진 수가 더 많을수록 성공할까? - logistic regression
res_success=logit('dum_success ~ total_photos',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.579089
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            dum_success   No. Observations:                 3831
Model:                          Logit   Df Residuals:                     3829
Method:                           MLE   Df Model:                            1
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                0.007427
Time:                        00:00:08   Log-Likelihood:                -2218.5
converged:                       True   LL-Null:                       -2235.1
Covariance Type:            nonrobust   LLR p-value:                 8.309e-09
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       -0.8740      0.043    -20.467      0.000      -0.958      -0.790
total_photos    -0.0268      0.006     -4.742      0.000      -0.038      -0.016
================================================================================
"""

In [59]:
#total_photos를 success로 groupby하기
df1_3.groupby('success')['total_photos'].agg(['min','mean','max']).reset_index()

   success  min      mean    max
0    False  0.0  5.844778  338.0
1     True  0.0  3.707246  123.0

In [60]:
#campaign_hearts가 더 많을 수록 성공할까? - logistic regression
res_success=logit('dum_success ~ campaign_hearts',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.577095
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            dum_success   No. Observations:                 3831
Model:                          Logit   Df Residuals:                     3829
Method:                           MLE   Df Model:                            1
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                 0.01085
Time:                        00:00:09   Log-Likelihood:                -2210.9
converged:                       True   LL-Null:                       -2235.1
Covariance Type:            nonrobust   LLR p-value:                 3.334e-12
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -0.8199      0.046    -17.805      0.000      -0.910      -0.730
campaign_hearts    -0.0002   4.24e-05     -5.418      0.000      -0.000      -0.000
===================================================================================
"""

In [61]:
#total_photos를 success로 groupby하기
df1_3.groupby('success')['campaign_hearts'].agg(['min','mean','max']).reset_index()

   success  min         mean      max
0    False  0.0  1062.500715  96957.0
1     True  0.0   627.584541  37333.0

In [62]:
#social_share_total가 더 많을 수록 성공할까? - logistic regression
res_success=logit('dum_success ~ social_share_total',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.581926
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            dum_success   No. Observations:                 3831
Model:                          Logit   Df Residuals:                     3829
Method:                           MLE   Df Model:                            1
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                0.002566
Time:                        00:00:09   Log-Likelihood:                -2229.4
converged:                       True   LL-Null:                       -2235.1
Covariance Type:            nonrobust   LLR p-value:                 0.0007078
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             -0.9237      0.042    -21.789      0.000      -1.007      -0.841
social_share_total -2.427e-05   8.06e-06     -3.014      0.003   -4.01e-05   -8.49e-06
======================================================================================
"""

In [63]:
#social_share를 success로 groupby하기
df1_3.groupby('success')['social_share_total'].agg(['min','mean','max']).reset_index()

   success  min         mean       max
0    False  0.0  3299.923820  131540.0
1     True  0.0  2589.894686   61489.0

In [64]:
df3=pd.read_csv('data/organizer_dollar.csv')
df3

,chid,org_id,org_name,org_type,location,raised,num_donations,currency,raised_dollar
0,1,0,Jared Thomas,Organizer,"Indianapolis, IN",NaN,NaN,dollar,NaN
1,1,1,Chris Beaty Memorial Fund,Beneficiary,NaN,NaN,NaN,dollar,NaN
2,2,2,Saha Heirati,Organizer,NaN,NaN,NaN,krona,NaN
3,3,3,Gus Jacobson,Organizer,"Forest Hills, NY",NaN,NaN,dollar,NaN
4,3,4,Kathleen Scarpa,Team member,NaN,NaN,NaN,dollar,NaN
...,...,...,...,...,...,...,...,...,...
8199,3903,8199,Kelly Culver,Beneficiary,NaN,NaN,NaN,dollar,NaN
8200,3904,8200,Sarah Manoucheri,Organizer,"Glen Cove, NY",NaN,NaN,dollar,NaN
8201,3904,8201,Ineta Yaghoubian,Beneficiary,NaN,NaN,NaN,dollar,NaN
8202,3905,8202,Family And Friends Of Carmella Rossi,Organizer,"Buffalo, NY",NaN,NaN,dollar,NaN
8203,3905,8203,Anthony Rossi,Beneficiary,NaN,NaN,NaN,dollar,NaN

In [65]:
df3 = df3[['chid','org_id','org_name','org_type','location']]

In [66]:
#chid 기준으로 df1_3과 merge하기
merge_1_3=pd.merge(df1_3, df3,
                  on='chid', how='inner')
merge_1_3

,chid,created_date,tags,story,total_photos,total_co_photos,total_community_photos,total_comments,total_updates,campaign_hearts,...,funds_raised_dollar,funds_target_dollar,char_age,success,storylength,dum_success,org_id,org_name,org_type,location
0,1.0,2020-06-03,Funerals & Memorials,This is the official Chris Beaty GoFundMe crea...,3.0,1.0,2.0,0.0,1.0,1691.0,...,175083,200000.0,153,False,1506,0,0,Jared Thomas,Organizer,"Indianapolis, IN"
1,1.0,2020-06-03,Funerals & Memorials,This is the official Chris Beaty GoFundMe crea...,3.0,1.0,2.0,0.0,1.0,1691.0,...,175083,200000.0,153,False,1506,0,1,Chris Beaty Memorial Fund,Beneficiary,NaN
2,2.0,2020-06-21,"Medical, Illness & Healing",Shortly about Saha: | It is with a heavy heart...,1.0,1.0,0.0,0.0,0.0,542.0,...,33792,226000.0,135,False,5152,0,2,Saha Heirati,Organizer,NaN
3,3.0,2020-06-19,Education & Learning,Cost Breakdown | 100 Computers x approximately...,2.0,2.0,0.0,0.0,4.0,119.0,...,13845,30000.0,138,False,6270,0,3,Gus Jacobson,Organizer,"Forest Hills, NY"
4,3.0,2020-06-19,Education & Learning,Cost Breakdown | 100 Computers x approximately...,2.0,2.0,0.0,0.0,4.0,119.0,...,13845,30000.0,138,False,6270,0,4,Kathleen Scarpa,Team member,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8199,3903.0,2020-08-28,"Medical, Illness & Healing","First, and foremost, let��셲 talk about Sean. S...",2.0,2.0,0.0,0.0,3.0,559.0,...,59205,50000.0,67,True,3135,1,8199,Kelly Culver,Beneficiary,NaN
8200,3904.0,2020-08-09,Funerals & Memorials,"On Monday August 3, 2020, Koorosh Yaghoubian (...",1.0,1.0,0.0,0.0,0.0,298.0,...,58767,80000.0,86,False,617,0,8200,Sarah Manoucheri,Organizer,"Glen Cove, NY"
8201,3904.0,2020-08-09,Funerals & Memorials,"On Monday August 3, 2020, Koorosh Yaghoubian (...",1.0,1.0,0.0,0.0,0.0,298.0,...,58767,80000.0,86,False,617,0,8201,Ineta Yaghoubian,Beneficiary,NaN
8202,3905.0,2020-09-07,"Medical, Illness & Healing",Nothing is more devastating for parents than w...,1.0,1.0,0.0,0.0,1.0,1052.0,...,96578,100000.0,57,False,2938,0,8202,Family And Friends Of Carmella Rossi,Organizer,"Buffalo, NY"
8203,3905.0,2020-09-07,"Medical, Illness & Healing",Nothing is more devastating for parents than w...,1.0,1.0,0.0,0.0,1.0,1052.0,...,96578,100000.0,57,False,2938,0,8203,Anthony Rossi,Beneficiary,NaN

In [67]:
#org_id를 세서 chid로 groupby하기
df=merge_1_3.groupby('chid').agg({'org_id':'count','success':'mean'}).reset_index()
df

        chid  org_id  success
0        1.0       2    False
1        2.0       1    False
2        3.0       2    False
3        4.0       1    False
4        5.0       1    False
...      ...     ...      ...
3899  3901.0       5     True
3900  3902.0       2     True
3901  3903.0       2     True
3902  3904.0       2    False
3903  3905.0       2    False

[3904 rows x 3 columns]

In [68]:
#success 컬럼 더미처리하기
df['dum_success']=pd.get_dummies(df['success'])[True]
df['dum_success']

0       0
1       0
2       0
3       0
4       0
       ..
3899    1
3900    1
3901    1
3902    0
3903    0
Name: dum_success, Length: 3904, dtype: uint8

In [69]:
#한 캠페인 당 모금인이 더 많을 수록 성공할까? - logistic regression
res_success=logit('dum_success ~ org_id',df).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.580590
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            dum_success   No. Observations:                 3904
Model:                          Logit   Df Residuals:                     3902
Method:                           MLE   Df Model:                            1
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:               0.0001439
Time:                        00:00:09   Log-Likelihood:                -2266.6
converged:                       True   LL-Null:                       -2267.0
Covariance Type:            nonrobust   LLR p-value:                    0.4192
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.9586      0.071    -13.555      0.000      -1.097      -0.820
org_id        -0.0235      0.029     -0.805      0.421      -0.081       0.034
==============================================================================
"""

In [70]:
#total update와 성공여부? - logistic regression
res_success=logit('dum_success ~ total_updates',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.578640
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            dum_success   No. Observations:                 3831
Model:                          Logit   Df Residuals:                     3829
Method:                           MLE   Df Model:                            1
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                0.008198
Time:                        00:00:09   Log-Likelihood:                -2216.8
converged:                       True   LL-Null:                       -2235.1
Covariance Type:            nonrobust   LLR p-value:                 1.417e-09
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        -0.8665      0.042    -20.513      0.000      -0.949      -0.784
total_updates    -0.0372      0.007     -5.270      0.000      -0.051      -0.023
=================================================================================
"""

In [71]:
df1_3

,chid,created_date,tags,story,total_photos,total_co_photos,total_community_photos,total_comments,total_updates,campaign_hearts,social_share_total,funds_raised_dollar,funds_target_dollar,char_age,success,storylength,dum_success
0,1.0,2020-06-03,Funerals & Memorials,This is the official Chris Beaty GoFundMe crea...,3.0,1.0,2.0,0.0,1.0,1691.0,9069.0,175083,200000.0,153,False,1506,0
1,2.0,2020-06-21,"Medical, Illness & Healing",Shortly about Saha: | It is with a heavy heart...,1.0,1.0,0.0,0.0,0.0,542.0,1882.0,33792,226000.0,135,False,5152,0
2,3.0,2020-06-19,Education & Learning,Cost Breakdown | 100 Computers x approximately...,2.0,2.0,0.0,0.0,4.0,119.0,383.0,13845,30000.0,138,False,6270,0
3,4.0,2020-01-16,Accidents & Emergencies,I was caught within 7 miles of the Taal Volcan...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,25,5000.0,292,False,402,0
4,5.0,2020-11-02,Community & Neighbors,I have been on the board of the Center for Fam...,1.0,1.0,0.0,0.0,0.0,17.0,0.0,13950,100000.0,2,False,1666,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,3901.0,2020-07-24,"Medical, Illness & Healing","In late June, Matt Hansen was diagnosed with a...",1.0,1.0,0.0,0.0,0.0,636.0,1574.0,68691,15000.0,102,True,1399,1
3900,3902.0,2020-10-13,Funerals & Memorials,Scott Zurn was diagnosed with an aggressive fo...,1.0,1.0,0.0,0.0,0.0,348.0,828.0,41330,20000.0,21,True,1423,1
3901,3903.0,2020-08-28,"Medical, Illness & Healing","First, and foremost, let��셲 talk about Sean. S...",2.0,2.0,0.0,0.0,3.0,559.0,929.0,59205,50000.0,67,True,3135,1
3902,3904.0,2020-08-09,Funerals & Memorials,"On Monday August 3, 2020, Koorosh Yaghoubian (...",1.0,1.0,0.0,0.0,0.0,298.0,699.0,58767,80000.0,86,False,617,0
3903,3905.0,2020-09-07,"Medical, Illness & Healing",Nothing is more devastating for parents than w...,1.0,1.0,0.0,0.0,1.0,1052.0,6248.0,96578,100000.0,57,False,2938,0

In [72]:
df1['char_age']=df1_3['char_age']
df1

,chid,url,scrape_date,title,created_date,funds_raised,funds_target,picture,org_picture,counts_status_code,...,amount_raised_unattributed,number_of_donations_unattributed,campaign_hearts,social_share_total,num_recent_donations,recent_time_window,funds_raised_dollar,funds_target_dollar,amount_raised_unattributed_dollar,char_age
0,1.0,https://www.gofundme.com/f/-chris-beaty-memori...,2020-11-03,Chris Beaty Memorial Fund,2020-06-03,175083.0,200000.0,True,False,200,...,0.0,0.0,1691.0,9069.0,0.0,48 hours,175083,200000.0,0.0,153
1,2.0,https://www.gofundme.com/f/1-prosent-chance,2020-11-03,1 percent chance,2020-06-21,299042.0,2000000.0,True,False,200,...,0.0,0.0,542.0,1882.0,0.0,48 hours,33792,226000.0,0.0,135
2,3.0,https://www.gofundme.com/f/100-computers-in-10...,2020-11-04,MELS needs #100ComputersIn100Days,2020-06-19,13845.0,30000.0,True,True,200,...,8196.0,95.0,119.0,383.0,0.0,48 hours,13845,30000.0,8196.0,138
3,4.0,https://www.gofundme.com/f/100-to-victims-of-t...,2020-11-03,100% to Victims of Taal Volcano in Philippines,2020-01-16,25.0,5000.0,True,True,200,...,0.0,0.0,1.0,0.0,0.0,48 hours,25,5000.0,0.0,292
4,5.0,https://www.gofundme.com/f/100k-for-center-for...,2020-11-04,$100k for Center for Family Life,2020-11-02,13950.0,100000.0,True,False,200,...,1100.0,5.0,17.0,0.0,16.0,48 hours,13950,100000.0,1100.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,3901.0,https://www.gofundme.com/f/zuayzb-helping-the-...,2020-11-03,Helping the Hansens: A Family in Crisis,2020-07-24,68691.0,15000.0,True,False,200,...,48000.0,516.0,636.0,1574.0,1.0,48 hours,68691,15000.0,48000.0,102
3900,3902.0,https://www.gofundme.com/f/zurn-strong,2020-11-03,Zurn Strong,2020-10-13,41330.0,20000.0,True,False,200,...,41330.0,356.0,348.0,828.0,1.0,48 hours,41330,20000.0,41330.0,21
3901,3903.0,https://www.gofundme.com/f/zw3yb-culver-family,2020-11-03,Sean Culver recovery and rehab fund,2020-08-28,59205.0,50000.0,True,False,200,...,0.0,0.0,559.0,929.0,0.0,48 hours,59205,50000.0,0.0,67
3902,3904.0,https://www.gofundme.com/f/zwqzz9-50000,2020-11-03,In loving memory of Koorosh (Cyrus) Yaghoubian,2020-08-09,58767.0,80000.0,True,True,200,...,0.0,0.0,298.0,699.0,0.0,48 hours,58767,80000.0,0.0,86
3903,3905.0,https://www.gofundme.com/f/zxasq-help-carmella...,2020-11-03,Help Carmella Rossi Fight,2020-09-07,96578.0,100000.0,True,False,200,...,96478.0,1052.0,1052.0,6248.0,3.0,48 hours,96578,100000.0,96478.0,57

In [73]:
df1['success']=df1_3['success']

In [74]:
df1['dum_success']=df1_3['dum_success']

In [75]:
df1

,chid,url,scrape_date,title,created_date,funds_raised,funds_target,picture,org_picture,counts_status_code,...,campaign_hearts,social_share_total,num_recent_donations,recent_time_window,funds_raised_dollar,funds_target_dollar,amount_raised_unattributed_dollar,char_age,success,dum_success
0,1.0,https://www.gofundme.com/f/-chris-beaty-memori...,2020-11-03,Chris Beaty Memorial Fund,2020-06-03,175083.0,200000.0,True,False,200,...,1691.0,9069.0,0.0,48 hours,175083,200000.0,0.0,153,False,0
1,2.0,https://www.gofundme.com/f/1-prosent-chance,2020-11-03,1 percent chance,2020-06-21,299042.0,2000000.0,True,False,200,...,542.0,1882.0,0.0,48 hours,33792,226000.0,0.0,135,False,0
2,3.0,https://www.gofundme.com/f/100-computers-in-10...,2020-11-04,MELS needs #100ComputersIn100Days,2020-06-19,13845.0,30000.0,True,True,200,...,119.0,383.0,0.0,48 hours,13845,30000.0,8196.0,138,False,0
3,4.0,https://www.gofundme.com/f/100-to-victims-of-t...,2020-11-03,100% to Victims of Taal Volcano in Philippines,2020-01-16,25.0,5000.0,True,True,200,...,1.0,0.0,0.0,48 hours,25,5000.0,0.0,292,False,0
4,5.0,https://www.gofundme.com/f/100k-for-center-for...,2020-11-04,$100k for Center for Family Life,2020-11-02,13950.0,100000.0,True,False,200,...,17.0,0.0,16.0,48 hours,13950,100000.0,1100.0,2,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,3901.0,https://www.gofundme.com/f/zuayzb-helping-the-...,2020-11-03,Helping the Hansens: A Family in Crisis,2020-07-24,68691.0,15000.0,True,False,200,...,636.0,1574.0,1.0,48 hours,68691,15000.0,48000.0,102,True,1
3900,3902.0,https://www.gofundme.com/f/zurn-strong,2020-11-03,Zurn Strong,2020-10-13,41330.0,20000.0,True,False,200,...,348.0,828.0,1.0,48 hours,41330,20000.0,41330.0,21,True,1
3901,3903.0,https://www.gofundme.com/f/zw3yb-culver-family,2020-11-03,Sean Culver recovery and rehab fund,2020-08-28,59205.0,50000.0,True,False,200,...,559.0,929.0,0.0,48 hours,59205,50000.0,0.0,67,True,1
3902,3904.0,https://www.gofundme.com/f/zwqzz9-50000,2020-11-03,In loving memory of Koorosh (Cyrus) Yaghoubian,2020-08-09,58767.0,80000.0,True,True,200,...,298.0,699.0,0.0,48 hours,58767,80000.0,0.0,86,False,0
3903,3905.0,https://www.gofundme.com/f/zxasq-help-carmella...,2020-11-03,Help Carmella Rossi Fight,2020-09-07,96578.0,100000.0,True,False,200,...,1052.0,6248.0,3.0,48 hours,96578,100000.0,96478.0,57,False,0

In [76]:
df1.to_csv('general_success.csv')

In [77]:
df1[['chid','success']].head(20)

    chid  success
0    1.0    False
1    2.0    False
2    3.0    False
3    4.0    False
4    5.0    False
5    6.0    False
6    7.0     True
7    8.0    False
8    9.0     True
9   10.0    False
10  11.0    False
11  12.0    False
12  13.0    False
13  14.0    False
14  15.0    False
15  16.0     True
16  17.0     True
17  18.0     True
18  19.0    False
19  20.0    False

In [78]:
#general 기준으로 target < raised거나 target > raised인 case 리스트하기 : 전체 기간 중에 성공 혹은 실패인것
df1_3['gensuccess'] = df1_3['funds_raised_dollar'] > df1_3['funds_target_dollar']
df1_3.groupby('gensuccess').count()

<ipython-input-78-8ccf66c60d32>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3['gensuccess'] = df1_3['funds_raised_dollar'] > df1_3['funds_target_dollar']

,chid,created_date,tags,story,total_photos,total_co_photos,total_community_photos,total_comments,total_updates,campaign_hearts,social_share_total,funds_raised_dollar,funds_target_dollar,char_age,success,storylength,dum_success
gensuccess,,,,,,,,,,,,,,,,,
False,2348,2348,2348,2348,2286,2286,2286,2286,2286,2286,2286,2348,2297,2348,2348,2348,2348
True,1556,1556,1556,1556,1545,1545,1545,1545,1545,1545,1545,1556,1556,1556,1556,1556,1556

In [79]:
#donation 기준으로 target < raised 인것 : 즉, 1089 기부수 내에 성공인것
success_ch.count()

chid         1405
date_diff    1405
char_age     1405
dtype: int64

In [80]:
gensuccesscol=df1_3.query('gensuccess == True').groupby('chid').agg({'char_age':'mean'}).reset_index()
gensuccesscol

        chid  char_age
0        7.0       361
1        9.0       365
2       13.0       345
3       16.0       339
4       17.0       336
...      ...       ...
1551  3890.0       121
1552  3892.0       301
1553  3901.0       102
1554  3902.0        21
1555  3903.0        67

[1556 rows x 2 columns]

In [81]:
c=gensuccesscol.chid.tolist()
c

[7.0,
 9.0,
 13.0,
 16.0,
 17.0,
 18.0,
 24.0,
 27.0,
 28.0,
 29.0,
 31.0,
 36.0,
 37.0,
 38.0,
 41.0,
 43.0,
 48.0,
 49.0,
 50.0,
 54.0,
 58.0,
 63.0,
 65.0,
 71.0,
 73.0,
 75.0,
 77.0,
 78.0,
 79.0,
 81.0,
 82.0,
 83.0,
 84.0,
 86.0,
 89.0,
 91.0,
 94.0,
 97.0,
 98.0,
 100.0,
 102.0,
 103.0,
 105.0,
 108.0,
 110.0,
 112.0,
 115.0,
 120.0,
 121.0,
 123.0,
 125.0,
 128.0,
 130.0,
 132.0,
 137.0,
 143.0,
 151.0,
 153.0,
 154.0,
 158.0,
 159.0,
 160.0,
 161.0,
 163.0,
 164.0,
 165.0,
 167.0,
 168.0,
 170.0,
 172.0,
 173.0,
 176.0,
 177.0,
 180.0,
 181.0,
 182.0,
 183.0,
 185.0,
 188.0,
 191.0,
 194.0,
 195.0,
 196.0,
 205.0,
 220.0,
 224.0,
 226.0,
 230.0,
 232.0,
 237.0,
 246.0,
 247.0,
 248.0,
 257.0,
 259.0,
 260.0,
 262.0,
 263.0,
 266.0,
 269.0,
 270.0,
 271.0,
 272.0,
 275.0,
 279.0,
 280.0,
 281.0,
 291.0,
 293.0,
 298.0,
 299.0,
 300.0,
 301.0,
 304.0,
 312.0,
 313.0,
 314.0,
 317.0,
 318.0,
 319.0,
 321.0,
 325.0,
 329.0,
 331.0,
 345.0,
 352.0,
 353.0,
 355.0,
 357.0,
 368.0,
 369.0,
 383.0,
 385.0,
 388.0,
 392.0,
 396.0,
 398.0,
 401.0,
 403.0,
 407.0,
 408.0,
 412.0,
 413.0,
 414.0,
 420.0,
 421.0,
 422.0,
 423.0,
 424.0,
 427.0,
 428.0,
 432.0,
 436.0,
 439.0,
 440.0,
 443.0,
 445.0,
 447.0,
 451.0,
 456.0,
 457.0,
 459.0,
 460.0,
 462.0,
 463.0,
 465.0,
 468.0,
 469.0,
 472.0,
 476.0,
 480.0,
 481.0,
 483.0,
 489.0,
 490.0,
 493.0,
 495.0,
 499.0,
 500.0,
 503.0,
 505.0,
 506.0,
 507.0,
 510.0,
 511.0,
 513.0,
 515.0,
 517.0,
 519.0,
 520.0,
 521.0,
 522.0,
 523.0,
 524.0,
 526.0,
 527.0,
 528.0,
 532.0,
 538.0,
 540.0,
 542.0,
 545.0,
 547.0,
 548.0,
 555.0,
 556.0,
 558.0,
 559.0,
 560.0,
 562.0,
 563.0,
 566.0,
 577.0,
 578.0,
 583.0,
 586.0,
 588.0,
 590.0,
 592.0,
 593.0,
 594.0,
 595.0,
 596.0,
 599.0,
 603.0,
 605.0,
 609.0,
 610.0,
 612.0,
 613.0,
 614.0,
 617.0,
 621.0,
 634.0,
 636.0,
 637.0,
 639.0,
 644.0,
 645.0,
 646.0,
 647.0,
 648.0,
 651.0,
 657.0,
 658.0,
 659.0,
 664.0,
 666.0,
 667.0,
 668.0,
 671.0,
 673.0,
 675.0,
 676.0,
 677.0,
 678.0,
 681.0,
 682.0,
 686.0,
 689.0,
 690.0,
 693.0,
 694.0,
 695.0,
 698.0,
 699.0,
 702.0,
 703.0,
 705.0,
 707.0,
 710.0,
 711.0,
 712.0,
 715.0,
 716.0,
 718.0,
 721.0,
 724.0,
 725.0,
 727.0,
 729.0,
 731.0,
 734.0,
 735.0,
 737.0,
 739.0,
 741.0,
 742.0,
 743.0,
 750.0,
 751.0,
 753.0,
 755.0,
 760.0,
 761.0,
 767.0,
 768.0,
 773.0,
 775.0,
 780.0,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 794.0,
 799.0,
 804.0,
 805.0,
 806.0,
 809.0,
 810.0,
 813.0,
 817.0,
 818.0,
 824.0,
 826.0,
 827.0,
 830.0,
 832.0,
 834.0,
 837.0,
 839.0,
 840.0,
 843.0,
 846.0,
 848.0,
 851.0,
 852.0,
 854.0,
 855.0,
 861.0,
 862.0,
 871.0,
 872.0,
 875.0,
 876.0,
 879.0,
 881.0,
 886.0,
 893.0,
 896.0,
 901.0,
 902.0,
 905.0,
 908.0,
 910.0,
 916.0,
 918.0,
 920.0,
 921.0,
 922.0,
 924.0,
 926.0,
 929.0,
 930.0,
 933.0,
 934.0,
 935.0,
 942.0,
 952.0,
 957.0,
 958.0,
 961.0,
 965.0,
 970.0,
 972.0,
 974.0,
 976.0,
 977.0,
 979.0,
 980.0,
 986.0,
 988.0,
 997.0,
 998.0,
 999.0,
 1003.0,
 1004.0,
 1005.0,
 1011.0,
 1012.0,
 1013.0,
 1015.0,
 1017.0,
 1020.0,
 1027.0,
 1028.0,
 1029.0,
 1030.0,
 1035.0,
 1037.0,
 1040.0,
 1041.0,
 1043.0,
 1049.0,
 1050.0,
 1054.0,
 1055.0,
 1056.0,
 1058.0,
 1059.0,
 1062.0,
 1063.0,
 1064.0,
 1065.0,
 1066.0,
 1070.0,
 1076.0,
 1077.0,
 1078.0,
 1086.0,
 1087.0,
 1088.0,
 1089.0,
 1091.0,
 1095.0,
 1099.0,
 1101.0,
 1102.0,
 1103.0,
 1104.0,
 1105.0,
 1107.0,
 1109.0,
 1112.0,
 1113.0,
 1119.0,
 1122.0,
 1125.0,
 1126.0,
 1129.0,
 1130.0,
 1132.0,
 1134.0,
 1135.0,
 1139.0,
 1141.0,
 1142.0,
 1143.0,
 1144.0,
 1152.0,
 1155.0,
 1156.0,
 1163.0,
 1164.0,
 1165.0,
 1166.0,
 1168.0,
 1171.0,
 1174.0,
 1176.0,
 1181.0,
 1183.0,
 1185.0,
 1186.0,
 1187.0,
 1188.0,
 1190.0,
 1195.0,
 1197.0,
 1199.0,
 1200.0,
 1202.0,
 1204.0,
 1208.0,
 1219.0,
 1224.0,
 1225.0,
 1227.0,
 1229.0,
 1234.0,
 1235.0,
 1237.0,
 1238.0,
 1239.0,
 1242.0,
 1249.0,
 1251.0,
 1252.0,
 1255.0,
 1256.0,
 1261.0,
 1262.0,
 1263.0,
 1264.0,
 1265.0,
 1268.0,
 1273.0,
 1274.0,
 1275.0,
 1276.0,
 1277.0,
 1285.0,
 1287.0,
 1288.0,
 1289.0,
 1290.0,
 1291.0,
 1292.0,
 1294.0,
 1297.0,
 1301.0,
 1302.0,
 1303.0,
 1307.0,
 1311.0,
 1312.0,
 1313.0,
 1314.0,
 1315.0,
 1317.0,
 1318.0,
 1320.0,
 1324.0,
 1328.0,
 1329.0,
 1331.0,
 1332.0,
 1333.0,
 1334.0,
 1335.0,
 1336.0,
 1343.0,
 1344.0,
 1345.0,
 1346.0,
 1349.0,
 1350.0,
 1353.0,
 1356.0,
 1359.0,
 1363.0,
 1368.0,
 1369.0,
 1372.0,
 1378.0,
 1379.0,
 1381.0,
 1383.0,
 1384.0,
 1385.0,
 1389.0,
 1390.0,
 1392.0,
 1393.0,
 1394.0,
 1399.0,
 1401.0,
 1402.0,
 1403.0,
 1407.0,
 1409.0,
 1411.0,
 1412.0,
 1414.0,
 1416.0,
 1418.0,
 1419.0,
 1420.0,
 1423.0,
 1429.0,
 1430.0,
 1431.0,
 1432.0,
 1433.0,
 1434.0,
 1435.0,
 1440.0,
 1441.0,
 1442.0,
 1454.0,
 1455.0,
 1456.0,
 1459.0,
 1461.0,
 1465.0,
 1466.0,
 1468.0,
 1473.0,
 1476.0,
 1477.0,
 1482.0,
 1483.0,
 1485.0,
 1487.0,
 1488.0,
 1490.0,
 1491.0,
 1492.0,
 1494.0,
 1497.0,
 1498.0,
 1500.0,
 1502.0,
 1503.0,
 1505.0,
 1508.0,
 1512.0,
 1513.0,
 1518.0,
 1524.0,
 1527.0,
 1532.0,
 1533.0,
 1537.0,
 1540.0,
 1542.0,
 1544.0,
 1546.0,
 1548.0,
 1550.0,
 1551.0,
 1552.0,
 1553.0,
 1554.0,
 1559.0,
 1560.0,
 1565.0,
 1566.0,
 1570.0,
 1572.0,
 1573.0,
 1576.0,
 1581.0,
 1584.0,
 1588.0,
 1590.0,
 1596.0,
 1597.0,
 1600.0,
 1601.0,
 1602.0,
 1605.0,
 1608.0,
 1609.0,
 1613.0,
 1616.0,
 1617.0,
 1620.0,
 1621.0,
 1627.0,
 1632.0,
 1635.0,
 1636.0,
 1645.0,
 1648.0,
 1651.0,
 1655.0,
 1661.0,
 1662.0,
 1663.0,
 1670.0,
 1672.0,
 1673.0,
 1674.0,
 1681.0,
 1682.0,
 1686.0,
 1688.0,
 1691.0,
 1694.0,
 1696.0,
 1700.0,
 1702.0,
 1705.0,
 1706.0,
 1708.0,
 1711.0,
 1717.0,
 1737.0,
 1738.0,
 1745.0,
 1746.0,
 1748.0,
 1749.0,
 1752.0,
 1753.0,
 1755.0,
 1757.0,
 1766.0,
 1768.0,
 1769.0,
 1770.0,
 1772.0,
 1773.0,
 1777.0,
 1778.0,
 1781.0,
 1785.0,
 1788.0,
 1789.0,
 1791.0,
 1792.0,
 1793.0,
 1799.0,
 1800.0,
 1802.0,
 1803.0,
 1804.0,
 1805.0,
 1806.0,
 1807.0,
 1808.0,
 1814.0,
 1815.0,
 1817.0,
 1819.0,
 1820.0,
 1823.0,
 1824.0,
 1825.0,
 1827.0,
 1828.0,
 1829.0,
 1831.0,
 1832.0,
 1837.0,
 1843.0,
 1845.0,
 1846.0,
 1847.0,
 1848.0,
 1850.0,
 1855.0,
 1857.0,
 1858.0,
 1860.0,
 1861.0,
 1865.0,
 1868.0,
 1873.0,
 1874.0,
 1875.0,
 1876.0,
 1878.0,
 1879.0,
 1887.0,
 1888.0,
 1892.0,
 1895.0,
 1896.0,
 1899.0,
 1901.0,
 1902.0,
 1904.0,
 1908.0,
 1910.0,
 1912.0,
 1916.0,
 1917.0,
 1918.0,
 1919.0,
 1920.0,
 1921.0,
 1922.0,
 1924.0,
 1926.0,
 1928.0,
 1929.0,
 1930.0,
 1931.0,
 1932.0,
 1933.0,
 1935.0,
 1937.0,
 1938.0,
 1941.0,
 1942.0,
 1943.0,
 1944.0,
 1948.0,
 1949.0,
 1950.0,
 1951.0,
 1952.0,
 1954.0,
 1955.0,
 1958.0,
 1962.0,
 1967.0,
 1970.0,
 1973.0,
 1976.0,
 1977.0,
 1978.0,
 1980.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1992.0,
 1994.0,
 1995.0,
 1999.0,
 2005.0,
 2006.0,
 2008.0,
 2010.0,
 2011.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2020.0,
 2023.0,
 2027.0,
 2028.0,
 2029.0,
 2030.0,
 2031.0,
 2033.0,
 2034.0,
 2038.0,
 2039.0,
 2040.0,
 2042.0,
 2043.0,
 2044.0,
 2048.0,
 2050.0,
 2051.0,
 2053.0,
 2055.0,
 2057.0,
 2060.0,
 2061.0,
 2062.0,
 2064.0,
 2066.0,
 2069.0,
 2070.0,
 2075.0,
 2077.0,
 2078.0,
 2080.0,
 2081.0,
 2084.0,
 2085.0,
 2086.0,
 2087.0,
 2088.0,
 2090.0,
 2091.0,
 2092.0,
 2093.0,
 2094.0,
 2100.0,
 2101.0,
 2103.0,
 2104.0,
 2105.0,
 2107.0,
 2109.0,
 2113.0,
 2115.0,
 2117.0,
 2121.0,
 2123.0,
 2124.0,
 2128.0,
 2130.0,
 2140.0,
 2143.0,
 2145.0,
 2151.0,
 2156.0,
 2158.0,
 2159.0,
 2161.0,
 2163.0,
 2165.0,
 2166.0,
 2167.0,
 2168.0,
 2171.0,
 2172.0,
 2174.0,
 2176.0,
 2177.0,
 2180.0,
 2182.0,
 2186.0,
 2187.0,
 2188.0,
 2191.0,
 2192.0,
 2193.0,
 2194.0,
 2197.0,
 2199.0,
 2200.0,
 2201.0,
 2206.0,
 2214.0,
 2216.0,
 2218.0,
 2221.0,
 2223.0,
 2224.0,
 2225.0,
 2227.0,
 2230.0,
 2232.0,
 2235.0,
 2236.0,
 2241.0,
 2242.0,
 2244.0,
 2252.0,
 2253.0,
 2255.0,
 2257.0,
 2259.0,
 2260.0,
 2263.0,
 2266.0,
 2269.0,
 2271.0,
 2273.0,
 2277.0,
 2281.0,
 2284.0,
 2286.0,
 2287.0,
 2289.0,
 2292.0,
 2294.0,
 2295.0,
 2296.0,
 2297.0,
 2302.0,
 2304.0,
 2305.0,
 2306.0,
 2308.0,
 2313.0,
 2314.0,
 2315.0,
 2318.0,
 2319.0,
 2322.0,
 2323.0,
 2324.0,
 2325.0,
 2328.0,
 2330.0,
 2337.0,
 2338.0,
 2341.0,
 2344.0,
 2345.0,
 2347.0,
 2348.0,
 2349.0,
 2351.0,
 2353.0,
 2354.0,
 2355.0,
 2356.0,
 2357.0,
 2362.0,
 2363.0,
 2365.0,
 2367.0,
 2370.0,
 2374.0,
 2379.0,
 2380.0,
 2382.0,
 2383.0,
 2384.0,
 2385.0,
 2386.0,
 2389.0,
 2390.0,
 2393.0,
 2396.0,
 2398.0,
 2399.0,
 2402.0,
 2404.0,
 2405.0,
 2406.0,
 2412.0,
 2413.0,
 2415.0,
 2416.0,
 2417.0,
 2419.0,
 2422.0,
 2427.0,
 2428.0,
 2430.0,
 2432.0,
 2435.0,
 ...]

In [82]:
a= success_ch.chid.tolist()
a

[7.0,
 9.0,
 16.0,
 17.0,
 18.0,
 24.0,
 27.0,
 29.0,
 31.0,
 36.0,
 37.0,
 38.0,
 41.0,
 43.0,
 48.0,
 49.0,
 50.0,
 54.0,
 58.0,
 63.0,
 65.0,
 71.0,
 75.0,
 77.0,
 78.0,
 79.0,
 82.0,
 83.0,
 84.0,
 86.0,
 89.0,
 91.0,
 94.0,
 98.0,
 100.0,
 102.0,
 103.0,
 105.0,
 108.0,
 110.0,
 112.0,
 115.0,
 117.0,
 120.0,
 121.0,
 123.0,
 125.0,
 128.0,
 130.0,
 132.0,
 142.0,
 143.0,
 151.0,
 153.0,
 154.0,
 158.0,
 159.0,
 160.0,
 161.0,
 163.0,
 164.0,
 165.0,
 167.0,
 168.0,
 170.0,
 172.0,
 173.0,
 176.0,
 180.0,
 182.0,
 183.0,
 185.0,
 188.0,
 191.0,
 194.0,
 196.0,
 205.0,
 220.0,
 224.0,
 226.0,
 230.0,
 232.0,
 248.0,
 257.0,
 259.0,
 260.0,
 262.0,
 263.0,
 266.0,
 269.0,
 270.0,
 271.0,
 272.0,
 276.0,
 280.0,
 291.0,
 293.0,
 298.0,
 299.0,
 301.0,
 304.0,
 312.0,
 313.0,
 317.0,
 318.0,
 319.0,
 321.0,
 325.0,
 329.0,
 331.0,
 338.0,
 345.0,
 352.0,
 353.0,
 355.0,
 357.0,
 368.0,
 369.0,
 383.0,
 385.0,
 388.0,
 392.0,
 396.0,
 398.0,
 401.0,
 403.0,
 407.0,
 408.0,
 412.0,
 413.0,
 414.0,
 420.0,
 421.0,
 422.0,
 423.0,
 428.0,
 432.0,
 436.0,
 439.0,
 440.0,
 443.0,
 445.0,
 447.0,
 451.0,
 456.0,
 459.0,
 460.0,
 462.0,
 465.0,
 469.0,
 472.0,
 476.0,
 480.0,
 481.0,
 483.0,
 495.0,
 499.0,
 500.0,
 503.0,
 505.0,
 506.0,
 507.0,
 510.0,
 511.0,
 513.0,
 515.0,
 517.0,
 519.0,
 520.0,
 521.0,
 523.0,
 524.0,
 526.0,
 528.0,
 532.0,
 538.0,
 540.0,
 542.0,
 545.0,
 547.0,
 548.0,
 555.0,
 556.0,
 558.0,
 559.0,
 560.0,
 562.0,
 563.0,
 577.0,
 578.0,
 583.0,
 586.0,
 588.0,
 592.0,
 593.0,
 595.0,
 596.0,
 599.0,
 603.0,
 605.0,
 609.0,
 610.0,
 612.0,
 613.0,
 617.0,
 621.0,
 628.0,
 634.0,
 636.0,
 637.0,
 639.0,
 644.0,
 645.0,
 646.0,
 647.0,
 648.0,
 651.0,
 657.0,
 658.0,
 659.0,
 664.0,
 666.0,
 667.0,
 668.0,
 671.0,
 673.0,
 676.0,
 677.0,
 678.0,
 681.0,
 682.0,
 686.0,
 689.0,
 690.0,
 693.0,
 695.0,
 698.0,
 699.0,
 702.0,
 703.0,
 705.0,
 707.0,
 710.0,
 711.0,
 712.0,
 715.0,
 716.0,
 718.0,
 721.0,
 724.0,
 725.0,
 727.0,
 729.0,
 731.0,
 734.0,
 735.0,
 741.0,
 742.0,
 743.0,
 750.0,
 753.0,
 755.0,
 756.0,
 760.0,
 761.0,
 768.0,
 770.0,
 773.0,
 774.0,
 775.0,
 780.0,
 781.0,
 782.0,
 783.0,
 784.0,
 785.0,
 794.0,
 799.0,
 804.0,
 805.0,
 806.0,
 809.0,
 810.0,
 813.0,
 817.0,
 818.0,
 824.0,
 826.0,
 827.0,
 830.0,
 832.0,
 834.0,
 837.0,
 839.0,
 840.0,
 843.0,
 845.0,
 851.0,
 852.0,
 854.0,
 855.0,
 861.0,
 862.0,
 872.0,
 875.0,
 876.0,
 879.0,
 881.0,
 886.0,
 893.0,
 896.0,
 901.0,
 905.0,
 908.0,
 910.0,
 916.0,
 918.0,
 920.0,
 922.0,
 926.0,
 929.0,
 930.0,
 933.0,
 934.0,
 935.0,
 942.0,
 957.0,
 958.0,
 961.0,
 965.0,
 970.0,
 972.0,
 974.0,
 976.0,
 977.0,
 979.0,
 980.0,
 986.0,
 988.0,
 997.0,
 999.0,
 1003.0,
 1004.0,
 1005.0,
 1011.0,
 1012.0,
 1013.0,
 1015.0,
 1017.0,
 1020.0,
 1027.0,
 1028.0,
 1029.0,
 1030.0,
 1035.0,
 1037.0,
 1040.0,
 1041.0,
 1043.0,
 1049.0,
 1050.0,
 1054.0,
 1056.0,
 1063.0,
 1065.0,
 1066.0,
 1070.0,
 1071.0,
 1076.0,
 1077.0,
 1078.0,
 1086.0,
 1087.0,
 1088.0,
 1089.0,
 1091.0,
 1095.0,
 1099.0,
 1102.0,
 1103.0,
 1105.0,
 1107.0,
 1109.0,
 1112.0,
 1113.0,
 1119.0,
 1122.0,
 1125.0,
 1126.0,
 1129.0,
 1130.0,
 1132.0,
 1134.0,
 1135.0,
 1136.0,
 1139.0,
 1141.0,
 1143.0,
 1144.0,
 1152.0,
 1171.0,
 1174.0,
 1176.0,
 1181.0,
 1183.0,
 1185.0,
 1186.0,
 1187.0,
 1188.0,
 1190.0,
 1197.0,
 1199.0,
 1200.0,
 1202.0,
 1204.0,
 1208.0,
 1219.0,
 1220.0,
 1224.0,
 1225.0,
 1227.0,
 1229.0,
 1235.0,
 1237.0,
 1238.0,
 1242.0,
 1249.0,
 1251.0,
 1252.0,
 1255.0,
 1256.0,
 1261.0,
 1263.0,
 1264.0,
 1265.0,
 1268.0,
 1273.0,
 1274.0,
 1275.0,
 1285.0,
 1287.0,
 1288.0,
 1289.0,
 1290.0,
 1291.0,
 1292.0,
 1294.0,
 1297.0,
 1301.0,
 1302.0,
 1303.0,
 1307.0,
 1311.0,
 1312.0,
 1313.0,
 1314.0,
 1315.0,
 1318.0,
 1320.0,
 1324.0,
 1328.0,
 1329.0,
 1331.0,
 1332.0,
 1333.0,
 1334.0,
 1335.0,
 1343.0,
 1344.0,
 1345.0,
 1346.0,
 1349.0,
 1350.0,
 1353.0,
 1356.0,
 1359.0,
 1363.0,
 1369.0,
 1372.0,
 1378.0,
 1379.0,
 1381.0,
 1383.0,
 1384.0,
 1385.0,
 1389.0,
 1390.0,
 1392.0,
 1393.0,
 1394.0,
 1399.0,
 1401.0,
 1402.0,
 1403.0,
 1407.0,
 1409.0,
 1411.0,
 1416.0,
 1418.0,
 1419.0,
 1420.0,
 1423.0,
 1429.0,
 1431.0,
 1432.0,
 1433.0,
 1434.0,
 1435.0,
 1440.0,
 1441.0,
 1442.0,
 1455.0,
 1456.0,
 1461.0,
 1465.0,
 1466.0,
 1468.0,
 1473.0,
 1476.0,
 1477.0,
 1482.0,
 1483.0,
 1485.0,
 1487.0,
 1488.0,
 1490.0,
 1491.0,
 1492.0,
 1494.0,
 1496.0,
 1497.0,
 1498.0,
 1500.0,
 1502.0,
 1503.0,
 1505.0,
 1508.0,
 1512.0,
 1513.0,
 1518.0,
 1524.0,
 1527.0,
 1532.0,
 1533.0,
 1537.0,
 1540.0,
 1542.0,
 1546.0,
 1548.0,
 1550.0,
 1551.0,
 1553.0,
 1554.0,
 1559.0,
 1565.0,
 1566.0,
 1570.0,
 1572.0,
 1573.0,
 1576.0,
 1581.0,
 1584.0,
 1588.0,
 1590.0,
 1596.0,
 1597.0,
 1600.0,
 1602.0,
 1605.0,
 1608.0,
 1609.0,
 1613.0,
 1616.0,
 1617.0,
 1620.0,
 1621.0,
 1632.0,
 1635.0,
 1636.0,
 1645.0,
 1648.0,
 1651.0,
 1655.0,
 1662.0,
 1663.0,
 1670.0,
 1672.0,
 1673.0,
 1674.0,
 1681.0,
 1682.0,
 1686.0,
 1688.0,
 1694.0,
 1696.0,
 1700.0,
 1702.0,
 1705.0,
 1706.0,
 1708.0,
 1711.0,
 1717.0,
 1737.0,
 1745.0,
 1746.0,
 1748.0,
 1749.0,
 1752.0,
 1753.0,
 1755.0,
 1766.0,
 1768.0,
 1769.0,
 1770.0,
 1772.0,
 1778.0,
 1781.0,
 1785.0,
 1788.0,
 1789.0,
 1792.0,
 1793.0,
 1799.0,
 1800.0,
 1802.0,
 1804.0,
 1805.0,
 1806.0,
 1807.0,
 1808.0,
 1814.0,
 1819.0,
 1820.0,
 1823.0,
 1824.0,
 1825.0,
 1827.0,
 1828.0,
 1829.0,
 1831.0,
 1832.0,
 1837.0,
 1843.0,
 1845.0,
 1846.0,
 1847.0,
 1848.0,
 1858.0,
 1860.0,
 1861.0,
 1865.0,
 1868.0,
 1873.0,
 1874.0,
 1875.0,
 1878.0,
 1879.0,
 1887.0,
 1888.0,
 1892.0,
 1895.0,
 1896.0,
 1899.0,
 1901.0,
 1902.0,
 1904.0,
 1908.0,
 1910.0,
 1912.0,
 1916.0,
 1917.0,
 1919.0,
 1920.0,
 1921.0,
 1922.0,
 1924.0,
 1926.0,
 1928.0,
 1929.0,
 1930.0,
 1931.0,
 1932.0,
 1933.0,
 1935.0,
 1937.0,
 1938.0,
 1941.0,
 1942.0,
 1943.0,
 1944.0,
 1948.0,
 1949.0,
 1950.0,
 1951.0,
 1952.0,
 1954.0,
 1955.0,
 1958.0,
 1962.0,
 1970.0,
 1973.0,
 1976.0,
 1977.0,
 1978.0,
 1980.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1992.0,
 1994.0,
 1995.0,
 1999.0,
 2005.0,
 2006.0,
 2008.0,
 2010.0,
 2011.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2020.0,
 2027.0,
 2028.0,
 2029.0,
 2030.0,
 2031.0,
 2033.0,
 2034.0,
 2038.0,
 2039.0,
 2040.0,
 2042.0,
 2043.0,
 2044.0,
 2048.0,
 2050.0,
 2053.0,
 2055.0,
 2057.0,
 2060.0,
 2061.0,
 2062.0,
 2064.0,
 2066.0,
 2070.0,
 2075.0,
 2077.0,
 2078.0,
 2080.0,
 2081.0,
 2084.0,
 2085.0,
 2086.0,
 2087.0,
 2088.0,
 2090.0,
 2091.0,
 2092.0,
 2093.0,
 2094.0,
 2100.0,
 2101.0,
 2103.0,
 2104.0,
 2105.0,
 2107.0,
 2113.0,
 2115.0,
 2117.0,
 2121.0,
 2123.0,
 2124.0,
 2128.0,
 2130.0,
 2140.0,
 2143.0,
 2145.0,
 2151.0,
 2156.0,
 2158.0,
 2159.0,
 2161.0,
 2163.0,
 2165.0,
 2166.0,
 2168.0,
 2171.0,
 2172.0,
 2174.0,
 2176.0,
 2177.0,
 2180.0,
 2182.0,
 2186.0,
 2187.0,
 2188.0,
 2191.0,
 2192.0,
 2193.0,
 2194.0,
 2197.0,
 2199.0,
 2201.0,
 2206.0,
 2216.0,
 2218.0,
 2223.0,
 2224.0,
 2225.0,
 2227.0,
 2230.0,
 2232.0,
 2235.0,
 2236.0,
 2241.0,
 2244.0,
 2252.0,
 2253.0,
 2255.0,
 2257.0,
 2259.0,
 2260.0,
 2263.0,
 2266.0,
 2269.0,
 2273.0,
 2277.0,
 2281.0,
 2284.0,
 2286.0,
 2287.0,
 2289.0,
 2292.0,
 2294.0,
 2295.0,
 2296.0,
 2304.0,
 2305.0,
 2306.0,
 2313.0,
 2315.0,
 2318.0,
 2319.0,
 2322.0,
 2323.0,
 2324.0,
 2325.0,
 2328.0,
 2330.0,
 2337.0,
 2338.0,
 2341.0,
 2344.0,
 2345.0,
 2347.0,
 2348.0,
 2349.0,
 2351.0,
 2353.0,
 2354.0,
 2356.0,
 2357.0,
 2362.0,
 2363.0,
 2367.0,
 2370.0,
 2374.0,
 2379.0,
 2380.0,
 2382.0,
 2383.0,
 2384.0,
 2385.0,
 2386.0,
 2389.0,
 2390.0,
 2396.0,
 2399.0,
 2402.0,
 2404.0,
 2406.0,
 2412.0,
 2413.0,
 2415.0,
 2416.0,
 2417.0,
 2419.0,
 2422.0,
 2427.0,
 2428.0,
 2430.0,
 2432.0,
 2439.0,
 2441.0,
 2443.0,
 2444.0,
 2446.0,
 2447.0,
 2450.0,
 2451.0,
 2452.0,
 2453.0,
 2454.0,
 2457.0,
 2463.0,
 2465.0,
 2470.0,
 2477.0,
 2482.0,
 2485.0,
 2490.0,
 2491.0,
 2492.0,
 2496.0,
 2499.0,
 2504.0,
 2506.0,
 2510.0,
 2511.0,
 2514.0,
 2515.0,
 2516.0,
 2520.0,
 2522.0,
 2523.0,
 2524.0,
 2526.0,
 2529.0,
 2530.0,
 2531.0,
 2532.0,
 2533.0,
 2534.0,
 2536.0,
 2537.0,
 2538.0,
 2543.0,
 2544.0,
 2545.0,
 2546.0,
 2550.0,
 2558.0,
 2559.0,
 2569.0,
 2575.0,
 2577.0,
 2581.0,
 2582.0,
 2584.0,
 2585.0,
 2587.0,
 2590.0,
 2593.0,
 2594.0,
 2598.0,
 2601.0,
 2602.0,
 2603.0,
 2607.0,
 2610.0,
 2612.0,
 2616.0,
 2617.0,
 2619.0,
 2621.0,
 2622.0,
 2623.0,
 2627.0,
 2629.0,
 2630.0,
 2642.0,
 2643.0,
 2645.0,
 2652.0,
 2659.0,
 2662.0,
 2664.0,
 2668.0,
 2672.0,
 2676.0,
 2679.0,
 2681.0,
 2683.0,
 2688.0,
 2701.0,
 2702.0,
 2707.0,
 2715.0,
 2716.0,
 2720.0,
 2722.0,
 2726.0,
 2730.0,
 2733.0,
 ...]

In [83]:
gensuccesscol['confusing']=np.logical_not(gensuccesscol['chid'].isin(a))
gensuccesscol['confusing'].unique()

array([False,  True])

In [84]:
confused=gensuccesscol.query('confusing == True')
confused

        chid  char_age  confusing
2       13.0       345       True
8       28.0       296       True
24      73.0       135       True
29      81.0       120       True
37      97.0        53       True
...      ...       ...        ...
1500  3744.0       148       True
1501  3745.0       158       True
1522  3800.0       224       True
1525  3810.0        74       True
1545  3877.0       313       True

[170 rows x 3 columns]

In [85]:
b=confused.chid.tolist()
b

[13.0,
 28.0,
 73.0,
 81.0,
 97.0,
 137.0,
 177.0,
 181.0,
 195.0,
 237.0,
 246.0,
 247.0,
 275.0,
 279.0,
 281.0,
 300.0,
 314.0,
 424.0,
 427.0,
 457.0,
 463.0,
 468.0,
 489.0,
 490.0,
 493.0,
 522.0,
 527.0,
 566.0,
 590.0,
 594.0,
 614.0,
 675.0,
 694.0,
 737.0,
 739.0,
 751.0,
 767.0,
 846.0,
 848.0,
 871.0,
 902.0,
 921.0,
 924.0,
 952.0,
 998.0,
 1055.0,
 1058.0,
 1059.0,
 1062.0,
 1064.0,
 1101.0,
 1104.0,
 1142.0,
 1155.0,
 1156.0,
 1163.0,
 1164.0,
 1165.0,
 1166.0,
 1168.0,
 1195.0,
 1234.0,
 1239.0,
 1262.0,
 1276.0,
 1277.0,
 1317.0,
 1336.0,
 1368.0,
 1412.0,
 1414.0,
 1430.0,
 1454.0,
 1459.0,
 1544.0,
 1552.0,
 1560.0,
 1601.0,
 1627.0,
 1661.0,
 1691.0,
 1738.0,
 1757.0,
 1773.0,
 1777.0,
 1791.0,
 1803.0,
 1815.0,
 1817.0,
 1850.0,
 1855.0,
 1857.0,
 1876.0,
 1918.0,
 1967.0,
 2023.0,
 2051.0,
 2069.0,
 2109.0,
 2167.0,
 2200.0,
 2214.0,
 2221.0,
 2242.0,
 2271.0,
 2297.0,
 2302.0,
 2308.0,
 2314.0,
 2355.0,
 2365.0,
 2393.0,
 2398.0,
 2405.0,
 2435.0,
 2456.0,
 2462.0,
 2473.0,
 2487.0,
 2505.0,
 2525.0,
 2564.0,
 2635.0,
 2648.0,
 2658.0,
 2691.0,
 2696.0,
 2697.0,
 2713.0,
 2714.0,
 2796.0,
 2816.0,
 2833.0,
 2843.0,
 2846.0,
 2851.0,
 2853.0,
 2861.0,
 2914.0,
 2920.0,
 2927.0,
 2943.0,
 2969.0,
 3000.0,
 3129.0,
 3166.0,
 3178.0,
 3188.0,
 3196.0,
 3233.0,
 3236.0,
 3242.0,
 3287.0,
 3308.0,
 3355.0,
 3363.0,
 3385.0,
 3396.0,
 3484.0,
 3491.0,
 3641.0,
 3657.0,
 3671.0,
 3672.0,
 3710.0,
 3744.0,
 3745.0,
 3800.0,
 3810.0,
 3877.0]

In [86]:
df1_3

,chid,created_date,tags,story,total_photos,total_co_photos,total_community_photos,total_comments,total_updates,campaign_hearts,social_share_total,funds_raised_dollar,funds_target_dollar,char_age,success,storylength,dum_success,gensuccess
0,1.0,2020-06-03,Funerals & Memorials,This is the official Chris Beaty GoFundMe crea...,3.0,1.0,2.0,0.0,1.0,1691.0,9069.0,175083,200000.0,153,False,1506,0,False
1,2.0,2020-06-21,"Medical, Illness & Healing",Shortly about Saha: | It is with a heavy heart...,1.0,1.0,0.0,0.0,0.0,542.0,1882.0,33792,226000.0,135,False,5152,0,False
2,3.0,2020-06-19,Education & Learning,Cost Breakdown | 100 Computers x approximately...,2.0,2.0,0.0,0.0,4.0,119.0,383.0,13845,30000.0,138,False,6270,0,False
3,4.0,2020-01-16,Accidents & Emergencies,I was caught within 7 miles of the Taal Volcan...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,25,5000.0,292,False,402,0,False
4,5.0,2020-11-02,Community & Neighbors,I have been on the board of the Center for Fam...,1.0,1.0,0.0,0.0,0.0,17.0,0.0,13950,100000.0,2,False,1666,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,3901.0,2020-07-24,"Medical, Illness & Healing","In late June, Matt Hansen was diagnosed with a...",1.0,1.0,0.0,0.0,0.0,636.0,1574.0,68691,15000.0,102,True,1399,1,True
3900,3902.0,2020-10-13,Funerals & Memorials,Scott Zurn was diagnosed with an aggressive fo...,1.0,1.0,0.0,0.0,0.0,348.0,828.0,41330,20000.0,21,True,1423,1,True
3901,3903.0,2020-08-28,"Medical, Illness & Healing","First, and foremost, let��셲 talk about Sean. S...",2.0,2.0,0.0,0.0,3.0,559.0,929.0,59205,50000.0,67,True,3135,1,True
3902,3904.0,2020-08-09,Funerals & Memorials,"On Monday August 3, 2020, Koorosh Yaghoubian (...",1.0,1.0,0.0,0.0,0.0,298.0,699.0,58767,80000.0,86,False,617,0,False
3903,3905.0,2020-09-07,"Medical, Illness & Healing",Nothing is more devastating for parents than w...,1.0,1.0,0.0,0.0,1.0,1052.0,6248.0,96578,100000.0,57,False,2938,0,False

In [87]:
#gensuccess 컬럼 더미처리하기
df1_3['dum_gensuccess']=pd.get_dummies(df1_3['gensuccess'])[True]
df1_3['dum_gensuccess']

<ipython-input-87-d8cb32802d0b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3['dum_gensuccess']=pd.get_dummies(df1_3['gensuccess'])[True]

0       0
1       0
2       0
3       0
4       0
       ..
3899    1
3900    1
3901    1
3902    0
3903    0
Name: dum_gensuccess, Length: 3904, dtype: uint8

In [88]:
#사진 수가 더 많을수록 성공할까? - logistic regression, general 컬럼 기준
#프로그램 연식 변수에 추가
res_success=logit('dum_gensuccess ~ total_photos + char_age',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.673249
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         dum_gensuccess   No. Observations:                 3831
Model:                          Logit   Df Residuals:                     3828
Method:                           MLE   Df Model:                            2
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                0.001592
Time:                        00:00:11   Log-Likelihood:                -2579.2
converged:                       True   LL-Null:                       -2583.3
Covariance Type:            nonrobust   LLR p-value:                   0.01637
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       -0.3817      0.068     -5.610      0.000      -0.515      -0.248
total_photos    -0.0085      0.003     -2.603      0.009      -0.015      -0.002
char_age         0.0002      0.000      0.559      0.576      -0.000       0.001
================================================================================
"""

In [89]:
#스토리 길이의 로그가 더 많을수록 성공할까? - 일단 로그변환
df1_3["logstorylength"]=np.log(df1_3["storylength"])
df1_3["logstorylength"]

<ipython-input-89-0f8006c982d1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_3["logstorylength"]=np.log(df1_3["storylength"])

0       7.317212
1       8.547140
2       8.743532
3       5.996452
4       7.418181
          ...
3899    7.243513
3900    7.260523
3901    8.050384
3902    6.424869
3903    7.985484
Name: logstorylength, Length: 3904, dtype: float64

In [90]:
#스토리 길이의 로그가 더 많을수록 성공할까? - logistic regression, general 컬럼 기준
#프로그램 연식 변수에 추가
res_success=logit('dum_gensuccess ~ logstorylength + char_age',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.671922
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         dum_gensuccess   No. Observations:                 3904
Model:                          Logit   Df Residuals:                     3901
Method:                           MLE   Df Model:                            2
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:               0.0007488
Time:                        00:00:11   Log-Likelihood:                -2623.2
converged:                       True   LL-Null:                       -2625.2
Covariance Type:            nonrobust   LLR p-value:                    0.1401
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.0358      0.234      0.153      0.878      -0.423       0.495
logstorylength    -0.0612      0.031     -1.985      0.047      -0.122      -0.001
char_age       -4.353e-05      0.000     -0.126      0.900      -0.001       0.001
==================================================================================
"""

In [91]:
res_success=logit('dum_gensuccess ~ storylength + char_age',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.669321
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         dum_gensuccess   No. Observations:                 3904
Model:                          Logit   Df Residuals:                     3901
Method:                           MLE   Df Model:                            2
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                0.004618
Time:                        00:00:11   Log-Likelihood:                -2613.0
converged:                       True   LL-Null:                       -2625.2
Covariance Type:            nonrobust   LLR p-value:                 5.437e-06
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept      -0.2307      0.077     -3.004      0.003      -0.381      -0.080
storylength -9.266e-05      2e-05     -4.632      0.000      -0.000   -5.35e-05
char_age    -2.786e-05      0.000     -0.081      0.936      -0.001       0.001
===============================================================================
"""

In [92]:
#social_share가 더 많을수록 성공할까? - logistic regression, general 컬럼 기준
#프로그램 연식 변수에 추가
res_success=logit('dum_gensuccess ~ social_share_total + char_age',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.673996
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         dum_gensuccess   No. Observations:                 3831
Model:                          Logit   Df Residuals:                     3828
Method:                           MLE   Df Model:                            2
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:               0.0004844
Time:                        00:00:11   Log-Likelihood:                -2582.1
converged:                       True   LL-Null:                       -2583.3
Covariance Type:            nonrobust   LLR p-value:                    0.2861
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             -0.4372      0.069     -6.329      0.000      -0.573      -0.302
social_share_total  7.863e-06   5.12e-06      1.535      0.125   -2.17e-06    1.79e-05
char_age               0.0001      0.000      0.356      0.722      -0.001       0.001
======================================================================================
"""

In [93]:
res_success=logit('dum_gensuccess ~ social_share_total+ total_photos+logstorylength+ char_age',df1_3).fit()
res_success.summary()

Optimization terminated successfully.
         Current function value: 0.666435
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         dum_gensuccess   No. Observations:                 3831
Model:                          Logit   Df Residuals:                     3826
Method:                           MLE   Df Model:                            4
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                 0.01170
Time:                        00:00:12   Log-Likelihood:                -2553.1
converged:                       True   LL-Null:                       -2583.3
Covariance Type:            nonrobust   LLR p-value:                 2.346e-12
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              1.6765      0.314      5.342      0.000       1.061       2.292
social_share_total  1.073e-05   5.29e-06      2.030      0.042     3.7e-07    2.11e-05
total_photos          -0.0063      0.003     -2.006      0.045      -0.013      -0.000
logstorylength        -0.2876      0.042     -6.816      0.000      -0.370      -0.205
char_age            9.872e-05      0.000      0.282      0.778      -0.001       0.001
======================================================================================
"""

In [94]:
#모델 빌딩용 데이터, 테스트 데이터 쪼개기
from sklearn.model_selection import train_test_split

In [96]:
train_df1_3, test_df1_3 = train_test_split(df1_3, test_size=0.2, random_state=1234)

In [97]:
train_df1_3.head()

,chid,created_date,tags,story,total_photos,total_co_photos,total_community_photos,total_comments,total_updates,campaign_hearts,social_share_total,funds_raised_dollar,funds_target_dollar,char_age,success,storylength,dum_success,gensuccess,dum_gensuccess,logstorylength
1665,1667.0,2020-01-26,"Medical, Illness & Healing",My 15-year-old nephew Liam O'Shaughnessy is de...,0.0,0.0,0.0,0.0,5.0,0.0,0.0,86186,120000.0,282,False,3254,0,False,0,8.087640
256,257.0,2020-05-21,Community & Neighbors,"Hello, | We��셱e Bath City Farm, a much-loved c...",4.0,4.0,0.0,0.0,3.0,388.0,643.0,65979,65035.0,167,False,3044,0,True,1,8.020928
3897,3899.0,2020-04-20,Funerals & Memorials,The sudden demise of Prasad (Sri) Yerneni who ...,1.0,1.0,0.0,0.0,0.0,1476.0,1042.0,88518,100000.0,197,False,885,0,False,0,6.785588
47,48.0,2020-04-04,Accidents & Emergencies,"David Johnson, from the Ole Miss Spirit, is ve...",8.0,8.0,0.0,0.0,12.0,514.0,1832.0,43125,40000.0,213,True,271,1,True,1,5.602119
1539,1541.0,2020-03-12,Accidents & Emergencies,"There are over 3,500 students in Hebrew charte...",10.0,10.0,0.0,0.0,8.0,133.0,320.0,35264,50000.0,237,False,933,0,False,0,6.838405

In [98]:
a = logit('dum_gensuccess ~ social_share_total+ total_photos+logstorylength+ char_age', train_df1_3).fit()
a.summary()

Optimization terminated successfully.
         Current function value: 0.666468
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         dum_gensuccess   No. Observations:                 3065
Model:                          Logit   Df Residuals:                     3060
Method:                           MLE   Df Model:                            4
Date:                Sat, 28 Nov 2020   Pseudo R-squ.:                 0.01365
Time:                        00:08:45   Log-Likelihood:                -2042.7
converged:                       True   LL-Null:                       -2071.0
Covariance Type:            nonrobust   LLR p-value:                 1.541e-11
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              1.8745      0.352      5.322      0.000       1.184       2.565
social_share_total  6.621e-06    5.7e-06      1.163      0.245   -4.54e-06    1.78e-05
total_photos          -0.0072      0.004     -1.993      0.046      -0.014      -0.000
logstorylength        -0.3142      0.047     -6.632      0.000      -0.407      -0.221
char_age               0.0002      0.000      0.628      0.530      -0.001       0.001
======================================================================================
"""

In [99]:
a_prob = a.predict(test_df1_3)
a_prediction = np.where(a_prob>0.5,1,0)

In [100]:
from sklearn.metrics import confusion_matrix

In [101]:
#혼동행렬 구하기
confusion_matrix(test_df1_3['dum_gensuccess'], a_prediction)

array([[453,  26],
       [280,  22]], dtype=int64)

In [103]:
#accuracy 구하기
a_accu=(453+22)/(453+22+26+280)
a_accu

0.6081946222791293